<div class="fields box batchsample">

  <div class="field">
    <%= f.label :barcode, :required => true %>
    <%= f.text_field :barcode, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :sample_type, :required => true %>
    <%= f.select :sample_type, sample_types %>
  </div>

  <div class="field">
    <%= f.label :collected_by_id, 'Collected By', :required => true %>
    <%= f.select :collected_by_id, User.all.collect {|u| [ "#{u.name}", u.id ] }, { }, { :include_blank => true } %>
  </div>

  <div class="field">
    <%= f.label :collected_on, 'Collected On', :required => true %>
    <%= f.date_select :collected_on, :include_blank => true, :no_label => true %>
  </div>


<!--   <div class="field">
    <%= f.label :original_amount %>
    <%= f.text_field :original_amount, :label => 'Amodunt received', :size => 5 %> 
    <%= f.select :original_unit, volume_unit_options, :include_blank => true, :no_label => true %>
  </div>


  <div class="field">
    <%= f.label :actual_amount %>
    <%= f.text_field :actual_amount, :label => 'Amodunt remaining', :size => 5 %> 
    <%= f.select :actual_unit, volume_unit_options, :include_blank => true, :no_label => true %>
  </div>
 -->

  <div class="field">
    <%= f.label :site_id %>
    <%= f.select :site_id, Site.find(:all, :order => 'name ASC').collect { |site| [site.name, site.id] }, :include_blank => true %>
    <br /><br />
    <%= f.text_field :building, :size => 10 %>
  </div>

<fieldset>
  <legend>Storage Details</legend>
  <p>Site: <%= f.select :site_id, Site.find(:all, :order => 'name ASC').collect { |site| [site.name, site.id] }, :include_blank => true %></p>
  <p>Building: <%= f.text_field :building, :size => 10 %></p>
  <p>Room: <%= f.text_field :room, :size => 10 %></p>
  <p>Freezer: <%= f.text_field :freezer, :size => 10 %></p>
  <p>Shelf: <%= f.text_field :shelf, :size => 10 %></p>
  <p>Box: <%= f.text_field :box, :size => 10 %></p>
  <p>Box Position: <%= f.text_field :box_position, :size => 10 %></p>
</fieldset>

  <!-- collection location, sample counter, ###enter number in batch first. -->

  <%= remove_fields_for f, :sample %>
</div>
