<h1>New Batch of Samples</h1>

<p class="info">
  <%= image_tag 'info.png', :class => 'info-logo' %>
  Batches allow you to enter information for many batches at a time. This page allows for the creation of many samples at once. All fields are required.
</p>

<%= form_tag batches_batches_path do %>

  <fieldset id="samples" class="fields-for">
    <legend>Samples</legend>  

    <% @samples.each_with_index do |sample, index| %>
      <%= fields_for "samples[#{index}]", sample do |sample_form| %>

        <%= sample_form.error_messages %>

        <%= render :partial => 'sample', :locals => { :f => sample_form, :counter => (index+1) } %>
        <br /><br />
      <% end %>
    <% end %>
  </fieldset>
  
  <%= submit_tag %>
<% end %>