<h1>Editing task_category</h1>

<%= render_form_errors(@task_category) %>
<%= form_for(@task_category) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= show_link @task_category %>
