<h1>Welcome to Metaboflo - Please Login</h1>

<div class="subcontainer" style="float: left; margin-right: 1.5em;">
  <% form_for resource_name, resource, :url => session_path(resource_name) do |f| %>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email, :style => 'height: 20px; font-size: larger' %>
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password, :style => 'height: 20px; font-size: larger' %>
    </p>
    <% if devise_mapping.rememberable? -%>
    <p>
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </p>
    <% end -%>
    <p>
      <%= f.submit "Login" %> &nbsp; &nbsp; <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    </p>
  <% end %>
</div>

<p style="font-size: larger;">
	Welcome to Metaboflo&trade;, the metabolomics Laboratory Information Management System (LIMS). Metaboflo is a central, web-based LIMS designed to streamline metabolomics studies from study design all the way to data analysis and integration. Metaboflo&trade; is a secure, fast, and complete metabolomics solution developed by <%= link_to 'In Siliflo Data Management & Analysis', 'http://insiliflo.com', :style => 'font-style:italic' %>.
</p>
<p style="font-size: larger;">
	If you would like further information on Metaboflo&trade; or other <%= link_to 'In Siliflo', 'http://insiliflo.com', :style => 'font-style:italic' %> projects, please 
	<%= link_to 'contact us', 'http://insiliflo.com/contact' %>.
</p>

<div id="login-logos">
	<%= image_tag 'blood_sample.png' %>
	<%= image_tag 'test_subject.png' %>
	<%= image_tag 'dna.png' %>
</div>
