<%= form.error_messages %>

<% if @sample.new_record? %>
<%= form.hidden_field(:test_subject_id) if @sample.test_subject %>
<%= form.hidden_field(:parent_sample_id) if @sample.sample %>
<% end %>

<fieldset>
  <legend>Sample Identification</legend>
  <% if @parent_sample %>
    <p><%= form.label :sample_type %> <%= @parent_sample.sample_type %></p>
  <% else %>
    <p><%= form.select :sample_type, ['ruminal', 'blood', 'milk', 'urine', 'feces'] %></p>
  <% end %>
  <p><%= form.text_field :barcode, :size => 30 %></p>
  <p><%= form.label :description %><%= form.text_area :description %></p>
</fieldset>

<fieldset>
  <legend>Client-related Information</legend>
  <% if @parent_sample %>
    <p><%= form.label :client_id %><%= @sample.root_sample.client.to_s %></p>
  <% else %>
    <p><%= form.select :client_id, Client.all(:order => :name).collect { |c| [c.name, c.id] }, :include_blank => true %></p>
  <% end %>
  <p><%= form.select :status, ['Submitted', 'Queued', 'In Progress', 'Finished'], :include_blank => true %></p>
  <% first = true %>
  <%= form.fields_for :stored_files, :no_label => true do |stored_file_form| %>
    <p>
      <% if first %>
        <%= form.label 'Reports' %>
        <% first = false %>
      <% end %>
      <% if stored_file_form.object.new_record? %>
        <%= stored_file_form.file_field :attachment, :no_label => true %>
      <% else %>
        <%= link_to stored_file_form.object.attachment_file_name, stored_file_form.object.attachment.url %>
        <%= stored_file_form.check_box '_destroy', :no_label => true %>
        <%= stored_file_form.label '_destroy', 'Remove', :class => 'grouped' %>
      <% end %>
    </p>
  <% end %>
</fieldset>

<fieldset>
  <legend>Collection Details</legend>
  <p>
    <%= form.text_field :original_amount, :label => 'Amount received', :size => 5 %> 
    <%= form.select :original_unit, volume_unit_options, :include_blank => true, :no_label => true %>
  </p>
  <p>
    <%= form.text_field :actual_amount, :label => 'Amount remaining', :size => 5 %> 
    <%= form.select :actual_unit, volume_unit_options, :include_blank => true, :no_label => true %>
  </p>
  <p>
    <%= form.select :collected_by_id, User.all.collect {|u| [ "#{u.name}", u.id ] }, { }, { :include_blank => true } %>
    on <%= form.date_select :collected_on, :include_blank => true, :no_label => true %>
  </p>
</fieldset>

<fieldset>
  <legend>Storage Details</legend>
  <p><%= form.select :site_id, Site.find(:all, :order => 'name ASC').collect { |site| [site.name, site.id] }, :include_blank => true %></p>
  <p><%= form.text_field :building %></p>
  <p><%= form.text_field :room %></p>
  <p><%= form.text_field :freezer %></p>
  <p><%= form.text_field :shelf %></p>
  <p><%= form.text_field :box %></p>
  <p><%= form.text_field :box_position %></p>

</fieldset>
