<% if @sample.new_record? %>
  <%= f.hidden_field(:test_subject_id) if @sample.test_subject %>
  <%= f.hidden_field(:parent_sample_id) if @sample.sample %>
<% end %>

<fieldset>
  <legend>Sample Identification</legend>
  <% if @parent_sample %>
    <p><%= f.label :sample_type %> <%= @parent_sample.sample_type %></p>
  <% else %>
    <%= f.input :sample_type, collection: sample_types %>
  <% end %>
  <%= f.input :barcode %>
  <%= f.input :description %>
</fieldset>

<fieldset>
  <legend>Client Information</legend>
  <% if @parent_sample %>
    <p><%= f.label :client_id %><%= @sample.root_sample.client.to_s %></p>
  <% else %>
    <%= f.association :client, include_blank: true %>
  <% end %>
  <%= f.input :status, collection: ['Submitted', 'Queued', 'In Progress', 'Finished'], include_blank: true %>

  <%= f.inner_field_group :reports do %>
    <%= f.fields_for :stored_files do |sff| %>
      <% if sff.object.new_record? %>
        <%= sff.input :attachment, label: false %>
      <% else %>
        <%= link_to sff.object.attachment_file_name, sff.object.attachment.url %>
        <%= sff.input '_destroy', label: 'Remove?' %>
      <% end %>
    <% end -%>
  <% end %>
</fieldset>

<fieldset>
  <legend>Collection Details</legend>
  <%= f.inner_field_group :original_amount, label: 'Amount received' do %>
    <%= f.input :original_amount, inner: true %>
    <%= f.input :original_unit, collection: volume_unit_options, include_blank: true %>
  <% end -%>
  <%= f.inner_field_group :actual_amount, label: 'Amount remaining' do %>
    <%= f.input :actual_amount, inner: true %>
    <%= f.input :actual_unit, collection: volume_unit_options, include_blank: true %>
  <% end -%>

  <%= f.inner_field_group :collected_by_id do %>
    <%= f.association :collected_by, include_blank: true %>
    <%= f.input :collected_on, class: 'datepicker' %>
  <% end -%>
</fieldset>

<fieldset>
  <legend>Storage Details</legend>
  <%= f.association :site, include_blank: true %>
  <%= f.input :building %>
  <%= f.input :room %>
  <%= f.input :freezer %>
  <%= f.input :shelf %>
  <%= f.input :box %>
  <%= f.input :box_position %>
</fieldset>

<div class="field-no-label actions">
  <%= f.submit %>
</div>
