<h1>
  Editing <%= @sample.aliquot? ? 'aliquot' : 'sample' %> <%= @sample.barcode %> from <%= @sample.aliquot? ? 'sample ' : 'aliquot ' %> <%= @sample.parent %>
</h1>

<% labelled_tabular_form_for([@parent, @sample]) do |form| %>
<%= render :partial => form -%>
<p>
  <%= form.submit "Update" %>
</p>
<% end %>

<%= show_link [@parent, @sample] %>
