<h1>
  Editing <%= @sample.aliquot? ? 'aliquot' : 'sample' %> <%= @sample.barcode %> from <%= @sample.aliquot? ? 'sample ' : 'aliquot ' %> <%= @sample.parent %>
</h1>

<%= render_form_errors(@sample) %>
<%= knoxy_form_for([@parent, setup_sample(@sample)], :html => { :multipart => true }) do |form| %>
  <%= render :partial => 'form', :locals => { :f => form } %>
<% end %>

<%= link_to_show [@parent, @sample] %>
