<h1><%= (@parent and @parent.kind_of?(Sample)) ? "Aliquots of Sample #{@parent.id}" : (@parent and @parent.kind_of?(TestSubject)) ? "Samples for #{TestSubject.title.downcase} #{@parent}" : 'Samples' %></h1>

<table class="list">
  <tr>
		<th>Type</th>
    <th>Amount Received</th>
		<th>Actual amount</th>
		<th>Amount remaining</th>
    <th>Barcode</th>
    <th><%= TestSubject.title unless @test_subject %></th>
		<th><%= 'Aliquoted from' unless @parent %></th>
    <th>Collected on</th>
    <th>Collected by</th>
		<th>Experiments</th>
		<th colspan="3">Actions</th>
  </tr>

<% for sample in @samples %>
  <tr class="<%= cycle('odd', 'even') %>">
		<td><%=h sample.sample_type %></td>
    <td><%=h sample.original_amount %> <%=h sample.original_unit %></td>
		<td><%=h sample.actual_amount %> <%=h sample.actual_unit %></td>
		<td><%=h sample.theoretical_amount %> <%=h sample.original_unit %></td>
    <td><%=h sample.barcode %></td>
    <td><%= link_to(sample.test_subject.code, sample.test_subject) unless @test_subject || sample.test_subject.nil? %></td>
		<td><%= link_to(sample.sample, sample.sample) unless @parent_sample || sample.sample.nil? %></td>
    <td><%=h sample.collected_on %></td>
    <td><%=h sample.collected_by %></td>
		<td>
			<% sample.experiments.each do |experiment| -%>
			<%= link_to experiment, [sample, experiment] %><br />
			<% end -%>
		</td>
    <td><%= show_link sample.sample ? sample_sample_path(sample.sample, sample) : test_subject_sample_path(sample.test_subject, sample) %></td>
    <td><%= edit_link sample.sample ? edit_sample_sample_path(sample.sample, sample) : edit_test_subject_sample_path(sample.test_subject, sample) %></td>
    <td><%= destroy_link sample.sample ? sample_sample_path(sample.sample, sample) : test_subject_sample_path(sample.test_subject, sample) %></td>
  </tr>
<% end %>
</table>

<br />

<% if (@parent and @parent.kind_of?(Sample)) %>
<%= new_link "aliquot of sample #{@parent.id}", new_sample_sample_path(@parent) %>
<% elsif (@parent and @parent.kind_of?(TestSubject)) %>
<%= new_link "sample for #{TestSubject.title.downcase} #{@parent.code}", new_test_subject_sample_path(@parent) %>
<% end %>
