<h1>Samples</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Barcode</th>
    <th>Patient</th>
    <th>Taken on</th>
    <th>Taken by</th>
  </tr>

<% for sample in @samples %>
  <tr>
    <td><%=h sample.amount %> <%=h sample.unit %></td>
    <td><%=h sample.barcode %></td>
    <td><%=h sample.patient.code %></td>
    <td><%=h sample.taken_on %></td>
    <td><%=h sample.taken_by %></td>
    <td><%= link_to 'Show', patient_sample_path(sample.patient, sample) %></td>
    <td><%= link_to 'Edit', edit_patient_sample_path(sample.patient, sample) %></td>
    <td><%= link_to 'Destroy', patient_sample_path(sample.patient, sample), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% unless @patient.nil? %>
<%= link_to "New sample for patient #{@patient.code}", new_patient_sample_path(@patient) %>
<% end %>
