<h1>New Sample</h1>

<% form_for([@parent_sample || @patient, @sample]) do |f| %>
  <%= f.error_messages %>
	<%= f.hidden(:patient_id) if @sample.patient %>
	<%= f.hidden(:parent_sample_id) if @sample.sample %>
	<p>
		<%= f.label :sample_type %><br />
		<%= @parent_sample ? @parent_sample.sample_type : f.select(:sample_type, ['blood', 'CSF', 'urine']) %>
	</p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :unit %><br />
    <%= f.select :unit, ['ml', 'g'], :include_blank => true %>
  </p>
  <p>
    <%= f.label :barcode %><br />
    <%= f.text_field :barcode %>
  </p>
  <p>
		<%= f.label :storage_location %><br />
		<%= f.text_area :storage_location %>
	</p>
  <p>
    <%= f.label :collected_on %><br />
    <%= f.date_select :collected_on %>
  </p>
  <p>
    <%= f.label :collected_by %><br />
    <%= f.text_field :collected_by %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <br />
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
