<h1>
  Showing <%= @sample.aliquot? ? 'aliquot' : 'sample' %> <%= @sample.barcode %> from <%= @sample.aliquot? ? 'sample ' : 'test_subject ' %> <%= @sample.parent %>
</h1>

<p>
	<b>Sample type:</b>
	<%=h @sample.sample_type %>
</p>

<p>
  <b>Original amount:</b>
  <%=h @sample.original_amount %> <%=h @sample.original_unit %>
</p>

<p>
  <b>Actual amount:</b>
  <%=h @sample.actual_amount %> <%=h @sample.actual_unit %>
</p>

<p>
	<b>Theoretical amount:</b>
	<%=h @sample.theoretical_amount %> <%=h @sample.original_unit %>
</p>

<p>
  <b>Barcode:</b>
  <%=h @sample.barcode %>
</p>

<p>
  <b>Test Subject:</b>
  <%= link_to(@sample.root.to_s, test_subject_path(@sample.root)) %>
</p>

<% if @sample.aliquot? %>
<p>
	<b>Source sample:</b>
	<%= link_to(@sample.sample, sample_path(@sample.sample)) %>
</p>
<% end %>

<p>
  <b>Site:</b>
  <%=h(@sample.site.name) if @sample.site %>
</p>

<p>
  <b>Building:</b>
  <%=h @sample.building %>
</p>

<p>
  <b>Room:</b>
  <%=h @sample.room %>
</p>

<p>
	<b>Freezer:</b>
	<%=h @sample.freezer %>
</p>

<p>
	<b>Shelf:</b>
	<%=h @sample.shelf %>
</p>

<p>
	<b>Box:</b>
	<%=h @sample.box %>
</p>

<p>
	<b>Box Position:</b>
	<%=h @sample.box_position %>
</p>

<p>
  <b>Collected on:</b>
  <%=h @sample.collected_on %>
</p>

<p>
  <b>Collected by:</b>
  <%=h @sample.collected_by %>
</p>

<p>
  <b>Description:</b>
  <%=h @sample.description %>
</p>

<br />

<%= edit_link @sample.aliquot? ? edit_sample_sample_path(@parent, @sample) : edit_test_subject_sample_path(@test_subject, @sample) %>
