<%= content_for :sidebar do %>
<h2><%= TestSubject.title %> Summary</h2>
<div id="tree"></div>
<script>
var data = [
    {
        label: 'node1',
        children: [
            { label: 'child1' },
            { label: 'child2' }
        ]
    },
    {
        label: 'node2',
        children: [
            { label: 'child3' }
        ]
    }
];
$('#tree').tree({
    data: data,
    autoOpen: true,
    saveState: true
});
</script>
<% end -%>

<h1>
  Showing <%= @sample.aliquot? ? 'aliquot' : 'sample' %> <%= @sample.barcode %> from <%= @sample.aliquot? ? 'sample ' : "#{TestSubject.title.downcase} " %> <%= @sample.parent %>
</h1>

<p>
	<b>Sample type:</b>
	<%=h @sample.sample_type %>
</p>

<p>
  <b>Barcode:</b>
  <%=h @sample.barcode %>
</p>

<p>
  <b><%= TestSubject.title %>:</b>
  <%= link_to(@sample.root.to_s, test_subject_path(@sample.root)) %>
</p>

<br />

<%= new_link "Aliquot", new_sample_sample_path(@sample) %> | <%= new_link 'Experiment', new_sample_experiment_path(@sample) %><br />

<br />

<fieldset>
  <legend>Client-related Information</legend>
  <p>
    <b>Client:</b>
    <%= @sample.client.name unless @sample.client.blank? %>
  </p>

  <p>
    <b>Status:</b>
    <%= @sample.status %>&nbsp;&nbsp;
    <% unless @sample.client.nil? %>
      <%= link_to (@sample.status == 'Finished' ? 'Notify client' : 'Mark finished'), finish_sample_path(@sample), :method => :post, :confirm => 'A notification will be sent to the client. Proceed?' %>
    <% end %>
  </p>
  
  <p>
    <b>Reports:</b><br />
    <% @sample.stored_files.each do |stored_file| %>
      <%= link_to stored_file.attachment_file_name, stored_file.attachment.url %>
    <% end %>
  </p>
</fieldset>

<br />

<fieldset>
  <legend>Volume Information</legend>
  <p>
    <b>Original amount:</b>
    <%=h @sample.original_amount %> <%=h @sample.original_unit %>
  </p>

  <p>
    <b>Actual amount:</b>
    <%=h @sample.actual_amount %> <%=h @sample.actual_unit %>
  </p>

  <p>
  	<b>Theoretical amount:</b>
  	<%=h @sample.theoretical_amount %> <%=h @sample.original_unit %>
  </p>
</fieldset>

<br />

<fieldset>
  <legend>Storage Location</legend>
  <p>
    <b>Site:</b>
    <%=h(@sample.site.name) if @sample.site %>
  </p>

  <p>
    <b>Building:</b>
    <%=h @sample.building %>
  </p>

  <p>
    <b>Room:</b>
    <%=h @sample.room %>
  </p>

  <p>
  	<b>Freezer:</b>
  	<%=h @sample.freezer %>
  </p>

  <p>
  	<b>Shelf:</b>
  	<%=h @sample.shelf %>
  </p>

  <p>
  	<b>Box:</b>
  	<%=h @sample.box %>
  </p>

  <p>
  	<b>Box Position:</b>
  	<%=h @sample.box_position %>
  </p>
</fieldset>

<br />

<fieldset>
  <legend>Collection Details</legend>
  <% if @sample.aliquot? %>
  <p>
  	<b>Source sample:</b>
  	<%= link_to(@sample.sample, sample_path(@sample.sample)) %>
  </p>
  <% end %>
  
  <p>
    <b>Collected on:</b>
    <%=h @sample.collected_on %>
  </p>

  <p>
    <b>Collected by:</b>
    <%=h @sample.collected_by %>
  </p>

  <p>
    <b>Description:</b>
    <%=h @sample.description %>
  </p>
</fieldset>

<br />

<%= edit_link @sample.aliquot? ? edit_sample_sample_path(@sample.sample, @sample) : edit_test_subject_sample_path(@test_subject, @sample) %>
