<p>
  <b>Amount:</b>
  <%=h @sample.amount %> <%=h @sample.unit %>
</p>

<p>
  <b>Barcode:</b>
  <%=h @sample.barcode %>
</p>

<p>
  <b>Patient:</b>
  <%= link_to @sample.patient.name, patient_path(@sample.patient) %>
</p>

<p>
  <b>Taken on:</b>
  <%=h @sample.taken_on %>
</p>

<p>
  <b>Taken by:</b>
  <%=h @sample.taken_by %>
</p>

<p>
  <b>Description:</b>
  <%=h @sample.description %>
</p>

<%= link_to 'Data Files', sample_data_files_path(@sample) %> |
<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
