<h1>Editing creatinine</h1>

<% form_for([@patient, @creatinine]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :patient %><br />
    <%= f.text_field :patient %>
  </p>
  <p>
    <%= f.label :collected_at %><br />
    <%= f.date_select :collected_at %>
  </p>
  <p>
    <%= f.label :tested_at %><br />
    <%= f.date_select :tested_at %>
  </p>
  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', patient_creatinine_path(@patient, @creatinine) %> |
<%= link_to 'Back', patient_creatinines_path(@patient) %>
