<h1>Editing <%= @type %> cohort</h1>

<% form_for(:cohort, @cohort, :url => { :action => "update", :type => @type }, :html => { :method => :put }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @cohort, :type => @type %> |
<%= link_to 'Back', :action => 'index', :type => @type %>
