<h1>Editing cohort</h1>

<% form_for(@cohort, :url => cohort_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
