<h1><%= @type %> Cohorts</h1>

<div class="submenu" style="margin: 1em 0em">
	<% Cohort.valid_types.each do |cohort_type| %>
	<%= link_to "#{cohort_type} Cohorts", :type => cohort_type %>&nbsp;
	<% end %>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
		<th># of <%= @type.pluralize %></th>
		<th colspan="3">Actions</th>
  </tr>

<% for cohort in @cohorts %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h cohort.name %></td>
    <td><%=h cohort.description %></td>
		<td><%=h cohort.assignables.count %></td>
    <td><%= link_to 'Show', :action => 'show', :id => cohort, :type => @type %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => cohort, :type => @type %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => cohort, :type => @type }, { :confirm => 'Are you sure?', :method => :delete } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "New #{@type} Cohort", :action => 'new', :type => @type %>
