<p>
	<b>Name:</b>
	<%=h @cohort.name %>
</p>

<p>
	<b>Description:</b>
	<%=h @cohort.description %>
</p>

<h2><%= @cohort.assignable_type.pluralize %> in this cohort</h2>

<div class="association">
	<table class="list">
		<thead>
			<tr>
				<th><%= @cohort.assignable_type %></th>
				<th>Remove</th>		
			</tr>
		</thead>
		<tbody id="assignable-associations">
			<%= render :partial => '/cohort_assignments/cohort_assignment', :collection => @cohort.cohort_assignments, :locals => { :from => 'cohort' } %>
		</tbody>
	</table>
	<br />
	<div class="new-association">
		<%= render :partial => '/cohort_assignments/add_assignable_form' %>
	</div>
	<br />
</div>

<%= link_to 'Edit', { :action => 'edit', :type => @type }, :class => 'icon icon-edit' %> |
<%= link_to 'Back', :action => 'index', :type => @type %>
