<%= knoxy_form_for(@data_file_type) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>File Type Details</legend>
    <%= f.text_field :name, :required => true %>
    <%= f.text_area :description %>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end -%>