<h1>Editing Data File Type</h1>

<% form_for(@data_file_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<br />

<%= link_to 'Show', @data_file_type %> |
<%= link_to 'Back To Data File Types', data_file_types_path %>
