<h1>All Data File Types</h1>

<table class="list">
  <tr>
    <th>Name</th>
    <th>Description</th>
		<th colspan="3">Actions</th>
  </tr>

<% @data_file_types.each do |data_file_type| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= data_file_type.name %></td>
    <td><%= data_file_type.description %></td>
    <td><%= link_to_show data_file_type %></td>
    <td><%= link_to_edit edit_data_file_type_path(data_file_type) %></td>
    <td><%= link_to_destroy(data_file_type) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to_new 'data file type', new_data_file_type_path %>
