<h1>All Data File Types</h1>

<table class="list">
  <tr>
    <th>Name</th>
    <th>Description</th>
		<th colspan="3">Actions</th>
  </tr>

<% for data_file_type in @data_file_types %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= data_file_type.name %></td>
    <td><%= data_file_type.description %></td>
    <td><%= show_link data_file_type %></td>
    <td><%= edit_link edit_data_file_type_path(data_file_type) %></td>
    <td><%= destroy_link(data_file_type) %></td>
  </tr>
<% end %>
</table>

<br />

<%= new_link 'data file type', new_data_file_type_path %>
