<%= render_form_errors(@task) %>
<%= knoxy_form_for(@task) do |f| %>
  <fieldset>
    <legend>Task Details</legend>
    <%= f.input :subject, required: true %>
    <%= f.input :description %>
    <%= f.association :category, include_blank: true %>
    <%= f.association :priority, include_blank: true %>
    <%= f.association :assigned_to, include_blank: true %>
  </fieldset>

  <fieldset>
    <legend>Progress</legend>

    <%= f.association :status, include_blank: true %>
    <%= f.input :start_date, class: 'datepicker' %>
    <%= f.input :due_date, class: 'datepicker' %>
    <%= f.input :estimated_hours %>
    <%= f.input :done_ratio, label: "% complete", size: 5 %>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end -%>
