<%= form.error_messages %>

<fieldset>
  <legend>Task Details</legend>
  <p><%= form.text_field :subject, :required => true %></p>
  <p><%= form.text_area :description %></p>
  <p><%= form.select :category_id, TaskCategory.all.collect { |tc| [tc.name, tc.id] }, :include_blank => true %></p>
  <p><%= form.select :priority_id, TaskPriority.all.collect { |tp| [tp.name, tp.id] }, :include_blank => true %></p>
  <p><%= form.select :assigned_to_id, User.find(:all).collect { |u| [u.name, u.id] }, :include_blank => true %></p>
</fieldset>

<fieldset>
  <legend>Progress</legend>

  <p><%= form.select :status_id, TaskStatus.all.collect { |ts| [ts.name, ts.id] }, :include_blank => true %></p>
  <p><%= form.label :start_date %><%= form.date_select :start_date %></p>
  <p><%= form.date_select :due_date %></p>
  <p><%= form.text_field :estimated_hours, :size => 5 %></p>
  <p><%= form.text_field :done_ratio, :label => '% done', :size => 5 %></p>
</fieldset>
