<%= render_form_errors(@task) %>
<%= knoxy_form_for(@task) do |f| %>
  <fieldset>
    <legend>Task Details</legend>
    <%= f.text_field :subject, :required => true %>
    <%= f.text_area :description %>
    <%= f.select :category_id, TaskCategory.all.collect { |tc| [tc.name, tc.id] }, :include_blank => true %>
    <%= f.select :priority_id, TaskPriority.all.collect { |tp| [tp.name, tp.id] }, :include_blank => true %>
    <%= f.select :assigned_to_id, User.find(:all).collect { |u| [u.name, u.id] }, :include_blank => true %>
  </fieldset>

  <fieldset>
    <legend>Progress</legend>

    <%= f.select :status_id, TaskStatus.all.collect { |ts| [ts.name, ts.id] }, :include_blank => true %>
    <%= f.text_field :start_date, :class => 'datepicker' %>
    <%= f.text_field :due_date, :class => 'datepicker' %>
    <%= f.text_field :estimated_hours, :size => 5 %>
    <%= f.text_field :done_ratio, :label => '% done', :size => 5 %>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end -%>