<p>
  <b>Subject:</b>
  <%= @task.subject %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Task status:</b>
  <%= @task.status.name if @task.status %>
</p>

<p>
  <b>Priority:</b>
  <%= @task.priority.name if @task.priority %>
</p>

<p>
  <b>Assigned to:</b>
  <%= @task.assigned_to.to_s if @task.assigned_to %>
</p>

<p>
  <b>Task category:</b>
  <%= @task.category.name if @task.category %>
</p>

<p>
  <b>Start date:</b>
  <%= @task.start_date %>
</p>

<p>
  <b>Due date:</b>
  <%= @task.due_date %>
</p>

<p>
  <b>Estimated hours:</b>
  <%= @task.estimated_hours %>
</p>

<p>
  <b>% done:</b>
  <%= @task.done_ratio %>
</p>


<%= edit_link edit_task_path(@task) %>