<%= render_form_errors(@metabolite) %>
<%= knoxy_form_for(@metabolite) do |f| %>
  <fieldset>
    <legend>Metabolite Identification</legend>
    <%= f.input :name %>
    <%= f.input :cas, label: 'CAS number' %>
    <%= f.input :description %>
    <%= f.input :iupac_name, label: 'IUPAC name', size: 50 %>
    <%= f.input :formula, label: 'Chemical formula' %>
    <%= f.input :mono_mass, label: 'Monoisotopic mass' %>
    <%= f.input :average_mass %>
    <%= f.input :smiles, label: 'SMILES (isomeric)' %>
    <%= f.input :inchi_identifier, label: 'InChI identifier' %>
  </fieldset>

  <fieldset>
    <legend>Metabolite Properties</legend>
    <%= f.input :melting_point %>
    <%= f.input :state, collection: ['Solid', 'Liquid', 'Gas'], include_blank: true %>
  </fieldset>

  <fieldset>
    <legend>External Links</legend>
    <%= f.input :hmdb_id, label: 'HMDB ID' %>
    <%= f.input :kegg_compound_id, label: 'KEGG compound ID' %>
    <%= f.input :pubchem_compound_id, label: 'PubChem compound ID' %>
    <%= f.input :chebi_id, label: 'ChEBI ID' %>
    <%= f.input :wikipedia_name, label: 'Wikipedia entry' %>
  </fieldset>

  <fieldset>
    <legend>Other/Meta Data</legend>
    <%= f.input :comments %>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end -%>
