<%= form.error_messages %>

<p>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.text_field :hmdb_id %>
</p>
<p>
  <%= form.text_area :description %>
</p>
<p>
  <%= form.text_area :iupac_name %>
</p>
<p>
  <%= form.text_field :formula %>
</p>
<p>
  <%= form.text_field :mono_mass %>
</p>
<p>
  <%= form.text_field :average_mass %>
</p>
<p>
  <%= form.text_area :smiles %>
</p>
<p>
  <%= form.text_field :cas %>
</p>
<p>
  <%= form.text_area :inchi_identifier %>
</p>
<p>
  <%= form.text_field :melting_point %>
</p>
<p>
  <%= form.text_field :state %>
</p>
<p>
  <%= form.text_field :kegg_compound_id %>
</p>
<p>
  <%= form.text_field :pubchem_compound_id %>
</p>
<p>
  <%= form.text_field :chebi_id %>
</p>
<p>
  <%= form.text_field :wikipedia_name %>
</p>
<p>
  <%= form.text_area :comments %>
</p>