<h1>Editing metabolite</h1>

<%= labelled_tabular_form_for(@metabolite) do |f| %>
<%= render :partial => f %>

<p>
  <%= f.submit 'Update' %>
</p>
<% end %>

<%= show_link @metabolite %> | 
<%= link_to 'Back', :back %>