<h1>Quantified Metabolites</h1>

<% unless params[:query].nil? %>
<p>
<%= @metabolites.size %> metabolites found for the search term '<%= params[:query] %>'<br />
<strong><%= link_to 'Export Metabolites', "#{search_metabolites_path(:format => :csv, :query => params[:query])}", :method => :post %></strong>
</p>
<% end %>

<table class="list" style="width: 100%">
  <tr class="header">
    <th>Name</th>
    <th>Structure</th>
    <th>Concentration</th>
    <th>Source</th>
    <th>Experiment</th>
    <th>Identified As</th>
    <th><%= TestSubject.title %></th>
    <th>Data file</th>
    <th>Sample Collected</th>
  </tr>

  <% @metabolites.each do |metabolite| %>
    <% concentrations = metabolite.concentrations %>
    <% first = true %>
    <% concentrations.each do |concentration| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <% if first %>
          <td rowspan="<%= [concentrations.length, 1].max %>">
            <strong><%= link_out :hmdb, metabolite.hmdb_id, metabolite.name %></strong>
            <% if metabolite.concentrations.length > 5 %>
              <br /><br />
              <div class="metabolite-summary">
                <strong>Mass:</strong> <%= metabolite.mono_mass %> g/mol<br />
                <strong><%= metabolite.concentrations.length %> Concentrations</strong>
                <% aggregates = metabolite.concentration_statistics %>
                <% aggregates.each do |a| %>
                  <br /><%= a.html_safe %>
                <% end %>
                <br><br><%= link_to 'show more', metabolite %>
              </div>
            <% end %>
          </td>
          <td rowspan="<%= [concentrations.length, 1].max %>">
            <% if metabolite.hmdb_id.present? %>
            <%= structure_thumb(metabolite.hmdb_id) %>
            <% else -%>
            <span class="not-available">Not Available</span>
            <% end -%>
          </td>
          <% first = false %>
        <% end %>
        <td><%= concentration.concentration_value %> <%= concentration.concentration_units %></td>
        <td><%= link_to concentration.data_file.experiment.sample.sample_type, sample_path(concentration.data_file.experiment.sample) %></td>
        <td><%= link_to concentration.data_file.experiment.experiment_type.name, sample_experiment_path(concentration.data_file.experiment.sample, concentration.data_file.experiment) %></td>
        <td><%= concentration.identified_as %></td>
        <td><%= link_to concentration.data_file.experiment.sample.root.name, test_subject_path(concentration.data_file.experiment.sample.root) %></td>
        <td><%= link_to concentration.data_file.data_file_name, experiment_data_file_path(concentration.data_file.experiment, concentration.data_file) %></td>
        <td><%= concentration.data_file.experiment.sample.collected_on %></td>
      </tr>
    <% end%>
  <% end %>
</table>

<%= render(:partial => "shared/paginate", :locals => { :collection => @metabolites }) if params[:query].nil? %>
<br />

<%= link_to_new 'metabolite', new_metabolite_path %>
