<h1>Metabolites</h1>

<table class="list" style="width: 100%">
  <tr>
    <th>Name</th>
    <th>Test Subject</th>
    <th>Data file</th>
    <th>Concentration</th>
    <th>Experiment</th>
    <th>Sample Collected On</th>
    <th>Sample Type</th>
    <th>Condition</th>
    <th>Cohort</th>
  </tr>

  <% @metabolites.each do |metabolite| %>
    <% concentrations = metabolite.concentrations %>
    <% first = true %>
    <% concentrations.each do |concentration| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <% if first %>
          <td rowspan=<%= [concentrations.length, 1].max %>><%= link_out metabolite, :hmdb_id, h(metabolite.name) %></td>
          <% first = false %>
        <% end %>
        <td><%= link_to concentration.data_file.experiment.sample.test_subject.name, test_subject_path(concentration.data_file.experiment.sample.test_subject) %></td>
        <td><%= link_to concentration.data_file.filename, experiment_data_file_path(concentration.data_file.experiment, concentration.data_file) %></td>
        <td><%=h concentration.concentration_value %></td>
        <td><%= link_to concentration.data_file.experiment.name, sample_experiment_path(concentration.data_file.experiment.sample, concentration.data_file.experiment) %></td>
        <td><%=h concentration.data_file.experiment.sample.collected_on %></td>
        <td><%= link_to concentration.data_file.experiment.sample.sample_type, sample_path(concentration.data_file.experiment.sample) %></td>
        <td>-</td>
        <td>-</td>
      </tr>
    <% end%>
  <% end %>
</table>

<%= render :partial => "shared/paginate", :locals => { :collection => @metabolites } %>
<br />

<%= new_link 'metabolite', new_metabolite_path %>