<h1>Metabolites</h1>

<table class="list" style="width: 100%">
  <tr>
    <th>Name</th>
    <th>CAS Number</th>
    <th>HMDB ID</th>
    <th>Formula</th>
    <th>Mono Mass</th>
    <th colspan="3">Actions</th>
  </tr>

  <% @metabolites.each do |metabolite| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><strong><%=h metabolite.name %></strong></td>
    <td><%=h metabolite.cas %></td>
    <td><%= link_out metabolite, :hmdb_id %></td>
    <td><%=h metabolite.formula %></td>
    <td><%=h metabolite.mono_mass %></td>
    <td><%= show_link metabolite %></td>
    <td><%= edit_link edit_metabolite_path(metabolite) %></td>
    <td><%= destroy_link metabolite %></td>
  </tr>
  <% end %>
</table>

<%= render :partial => "shared/paginate", :locals => { :collection => @metabolites } %>
<br />

<%= new_link 'metabolite', new_metabolite_path %>