<p>
  <b>Name:</b>
  <%=h @metabolite.name %>
</p>


<p>
  <b>Description:</b>
  <%=h @metabolite.description %>
</p>

<p>
  <b>IUPAC name:</b>
  <%=h @metabolite.iupac_name %>
</p>

<p>
  <b>Chemical formula:</b>
  <%=h @metabolite.formula %>
</p>

<p>
  <b>Monoisotopic mass:</b>
  <%=h @metabolite.mono_mass %>
</p>

<p>
  <b>Average mass:</b>
  <%=h @metabolite.average_mass %>
</p>

<p>
  <b>SMILES (isomeric):</b>
  <%=h @metabolite.smiles %>
</p>

<p>
  <b>CAS number:</b>
  <%=h @metabolite.cas %>
</p>

<p>
  <b>InChI identifier:</b>
  <%=h @metabolite.inchi_identifier %>
</p>

<p>
  <b>Melting point:</b>
  <%=h @metabolite.melting_point %>
</p>

<p>
  <b>State:</b>
  <%=h @metabolite.state %>
</p>

<p>
  <b>HMDB ID:</b>
  <%= link_out @metabolite, :hmdb_id %>
</p>

<p>
  <b>KEGG compound ID:</b>
  <%= link_out @metabolite, :kegg_compound_id %>
</p>

<p>
  <b>PubChem compound ID:</b>
  <%= link_out @metabolite, :pubchem_compound_id %>
</p>

<p>
  <b>ChEBI ID:</b>
  <%= link_out @metabolite, :chebi_id %>
</p>

<p>
  <b>Wikipedia entry:</b>
  <%= link_out @metabolite, :wikipedia_name %>
</p>

<p>
  <b>Comments:</b>
  <%=h @metabolite.comments %>
</p>

<br />
<%= edit_link edit_metabolite_path(@metabolite) %> | 
<%= link_to 'Back', :back %>