<h1>Cohort to which <%= @assignable.name %> belongs</h1>

<table class="list">
  <tr>
    <th>Cohort</th>
    <th>Size</th>
		<th colspan="3">Actions</th>
  </tr>

<% for cohort_assignment in @cohort_assignments %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= link_to(cohort_assignment.cohort.name, cohort_assignment.cohort) %></td>
    <td><%= cohort_assignment.cohort.assignables.length %></td>
    <td><%= link_to 'Remove', { :action => 'destroy', :id => cohort_assignment, "#{@assignable_type.tableize.singularize}_id" => @assignable }, { :confirm => 'Are you sure?', :method => :delete } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Add #{humanized_type @assignable_type} to Cohort", { :action => 'new', "#{@assignable_type.tableize.singularize}_id" => @assignable }, :class => 'icon icon-add' %>
