<h1>Cohort to which <%= @assignable_type %> <%= @assignable.name %> belongs</h1>

<table>
  <tr>
    <th>Cohort</th>
  </tr>

<% for cohort_assignment in @cohort_assignments %>
  <tr>
    <td><%=h cohort_assignment.cohort.name %></td>
    <td><%= link_to 'Remove', { :action => 'destroy', :id => cohort_assignment, "#{@assignable_type.downcase}_id" => @assignable }, { :confirm => 'Are you sure?', :method => :delete } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Add #{@assignable_type} to Cohort", :action => 'new', "#{@assignable_type.downcase}_id" => @assignable %>
