<h1>New cohort_assignment</h1>

<% form_for([@patient, @cohort_assignment]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :cohort_id %><br />
    <%= f.select :cohort_id, @cohorts.collect { |c| [ c.name, c.id ] } %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', patient_cohort_assignments_path(@patient) %>
