<h1>Assign <%= @assignable_type %> to a cohort</h1>

<% form_for([@assignable, @cohort_assignment]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :cohort_id %><br />
    <%= f.select :cohort_id, "#{@assignable_type}Cohort".constantize.all.collect { |c| [ c.name, c.id ] } %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', "#{@assignable_type.downcase}_id" => @assignable %>
