<div id="module_3_dialog">
	<div id="module_3" class="tab">
		<ul>
			<li><a href="#module_2_compounds">Metabolites</a></li>
			<li><a href="#module_2_reference">Reference Values</a></li>
		</ul>
		<div id="module_3_compounds">
			<h2>Metabolite Information</h2>
	<table class="list"style="width:1000px;">
		<tr>
		<td>Aspartate<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00067/pathway", :target => "_blank" %></td>
		<td>Alanine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00055/pathway", :target => "_blank" %></td>
		<td>Aminobutyric Acid</td>
		<td>Glutamate<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00072/pathway", :target => "_blank" %></td>
		</tr>
		<tr>
		<td>Glutamine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00072/pathway", :target => "_blank" %></td>
		<td>Arginine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00020/pathway", :target => "_blank" %></td>
		<td>Cysteine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00013/pathway", :target => "_blank" %></td>
		<td>Glycine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00004/pathway", :target => "_blank" %></td>
		</tr>
		<tr>
		<td>Histidine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00044/pathway", :target => "_blank" %></td>
		<td>Isoleucine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00032/pathway", :target => "_blank" %></td>
		<td>Leucine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00032/pathway", :target => "_blank" %><br>(leucine and isoleucine<br>cannot be distinguished by LC/MS)</td>
		<td>Tyrosine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00006/pathway", :target => "_blank" %></td>
		</tr>
		<tr>
		<td>Lysine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00037/pathway", :target => "_blank" %></td>
		<td>Phenylalanine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00008/pathway", :target => "_blank" %></td>
		<td>phenyllactic acid</td>
		<td>Proline<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00020/pathway", :target => "_blank" %></td>
		</tr>
		<tr>
		<td>Methionine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00033/pathway", :target => "_blank" %></td>
		<td>Serine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00004/pathway", :target => "_blank" %></td>
		<td>Threonine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00452/pathway", :target => "_blank" %></td>
		<td>Tryptophan<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00063/pathway", :target => "_blank" %></td>
		</tr>
		<tr>
		<td>Valine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00032/pathway", :target => "_blank" %></td>
		<td>Taurine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00021/pathway", :target => "_blank" %></td>
		<td>Hypotaurine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00021/pathway", :target => "_blank" %></td>
		<td>Asparagine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00067/pathway", :target => "_blank" %></td>
		</tr>
		<tr>
		<td>Sarcosine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00004/pathway", :target => "_blank" %></td>
		<td>Urea<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00059/pathway", :target => "_blank" %></td>
		<td>Creatinine</td>
		<td>5-Aminolevulinate<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00004/pathway", :target => "_blank" %></td>
		</tr>
		<tr>
		<td>dimethylglycine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00004/pathway", :target => "_blank" %></td>
		<td>Homocysteine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00455/pathway", :target => "_blank" %></td>
		<td>betaine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00123/pathway", :target => "_blank" %></td>
		<td>Citrulline<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00059/pathway", :target => "_blank" %></td>
		</tr>
		<tr>
		<td>Ornithine<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00059/pathway", :target => "_blank" %></td>
		<td>4-methyl-2-oxo valerate<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00032/pathway", :target => "_blank" %></td>
		<td>2-Oxoadipic acid<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00037/pathway", :target => "_blank" %></td>
		<td>2-ketobutyrate<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00452/pathway", :target => "_blank" %></td>
		</tr>
		<tr>
		<td>3-hydroxybutyrate<%= link_to image_tag('pathway.png', :class => 'info-logo', :width => 20, :heigth => 20), "http://pathman.smpdb.ca/pathways/SMP00071/pathway", :target => "_blank" %></td>
		</tr>
	</table>
		</div>
		<div id="module_3_reference">
			<h2>Metabolite Reference Values</h2>
			<table class="list"style="width:1000px;">
				
			</table>
		</div>
	</div>
</div>
