<h1>Listing nutrients</h1>

<table class="list">
  <tr>
    <th>Name</th>
		<th colspan="3">Actions</th>
  </tr>

<% @nutrients.each do |nutrient| %>
  <tr>
    <td><%=h nutrient.name %></td>
    <td><%= show_link nutrient %></td>
    <td><%= edit_link edit_nutrient_path(nutrient) %></td>
    <td><%= destroy_link nutrient %></td>
  </tr>
<% end %>
</table>

<br />

<%= new_link 'nutrient', new_nutrient_path %>