<h1>Listing nutrients</h1>

<table class="list">
  <tr>
    <th>Name</th>
		<th colspan="3">Actions</th>
  </tr>

<% @nutrients.each do |nutrient| %>
  <tr>
    <td><%= nutrient.name %></td>
    <td><%= link_to_show nutrient %></td>
    <td><%= link_to_edit edit_nutrient_path(nutrient) %></td>
    <td><%= link_to_destroy nutrient %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to_new 'nutrient', new_nutrient_path %>
