<div class="fields box">
  <div class="field">
    <%= f.label :label %>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :control, 'Control?' %>
    <%= f.select :control, Cohort::ALLOWED_CONTROL_VALUES %>
  </div>

  <%= remove_fields_for f, :cohorts %>
</div>
