<h1><%= title 'Create new study' %></h1>

<p class="info"><%= render :partial => "/studies/info" %></p>

<%= form_for [:workflows, setup_workflow_study(@study)], :html => { :autocomplete => false } do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Study Details</legend>
    
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
  </fieldset>
  <fieldset id="cohorts" class="fields-for">
    <legend>Cohorts</legend>  
    <div class="actions">
      <%= add_link_for_new_fields_for f, :cohort %>
    </div>

    <%= f.fields_for :cohorts do |cohort_form| %>
  		<%= render :partial => 'cohort', :locals => { :f => cohort_form } %>
  	<% end %>
  </fieldset>

  <%= f.submit %>
<% end %>

