<%= render_form_errors(@user) %>
<%= knoxy_form_for(setup_user(@user), html: { multipart: true }) do |f| -%>
  <fieldset>
    <legend>User Details</legend>
    <%= f.input :name, required: true %>
    <%= f.input :email, required: true %>
  </fieldset>

  <fieldset>
    <legend>Access</legend>

    <% if ['Administrator', 'Superuser'].include?(current_user.rank) -%>
      <%= f.association :site, include_blank: true %>
    <% else -%>
      <%= @user.site.name unless @user.site.blank? %>
    <% end -%>

    <% if current_user.rank == 'Administrator' -%>
      <%= f.input :rank, collection: ['Administrator', 'Superuser', 'User'], include_blank: true %>
    <% else -%>
      <% @user.rank = 'User' %><%= f.hidden_field :rank %>User
    <% end -%>
  </fieldset>

  <% if @user.new_record? %>
    <fieldset>
      <legend>Password</legend>
      <p><%= f.input :password, required: true %></p>
      <p><%= f.input :password_confirmation, label: 'Confirm Password', required: true %></p>
    </fieldset>
  <% end -%>

  <fieldset>
    <legend>Photo</legend>
    <%= f.inner_field :photo_file do %>
      <%= f.fields_for :photo_file do |ff| %>
        <%= ff.input :attachment, label: 'Profile Photo', inner: true %>
        <% if !@user.new_record? && @user.photo_file.present? %>
          <%= link_to ff.object.attachment_file_name, ff.object.attachment.url %>&nbsp;&nbsp;
          <%= ff.input '_destroy', label: 'remove?' %>
        <% end %>
      <% end -%>
    <% end -%>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end -%>
