<h1>Edit user</h1>

<%= labelled_tabular_form_for(setup_user(@user), :html => { :multipart => true }) do |f| -%>
	<%= error_messages_for :user %>

  <fieldset style="width: 50%">
    <legend>User Details</legend>
    <p><%= f.text_field :name, :required => true %></p>
    <p><%= f.text_field :email, :required => true %></p>
  </fieldset>

  <fieldset style="width: 50%">
    <legend>Access</legend>
    <p>
      <% if ['Administrator', 'Superuser'].include?(current_user.rank) -%>
      <%= f.select :site_id, Site.find(:all, :order => 'name ASC').collect { |site| [site.name, site.id] }, :include_blank => true %>
      <% else -%>
      <%=h(@user.site.name) unless @user.site.blank? %>
      <% end -%>
    </p>

    <p>
      <% if current_user.rank == 'Administrator' -%>
      <%= f.select :rank, [ 'Administrator', 'Superuser', 'User' ], :include_blank => true %>
      <% else -%>
      <% @user.rank = 'User' %><%= f.hidden_field :rank %>User
      <% end -%>
    </p>
  </fieldset>
  
  <%= f.fields_for :photo_file do |file_form| %>
    <div class="field">
      <%= f.label :photo_file %>
      <%= file_form.file_field :attachment %>
    </div>
    <div class="field-no-label">
      <% unless file_form.object.new_record? || file_form.object.attachment_file_name.blank? %>
        <%= link_to file_form.object.attachment_file_name, file_form.object.attachment.url %>
        <%= file_form.check_box '_destroy' %>Remove
      <% end %>
    </div>
  <% end %>
	
	<p><%= submit_tag 'Update' %></p>
<% end -%>
