<% if @site %>
<h1>All Users for "<%= @site.name %>"</h1>
<% else %>
<h1>All Users</h1>
<% end %>

<table class="list">
	<tr>
	  <th>Picture</th>
		<th>Name</th>
		<th>Site</th>
		<th>Email</th>
		<th colspan="3">Actions</th>
	</tr>

	<% @users.each do |user| %>
	<tr class="<%= cycle('odd', 'even') %>">
	  <td>
	    <% if user.photo_file %>
	      <%= image_tag(user.photo_file.attachment.url(:thumb)) %><br />
      <% else %>
        &nbsp;
      <% end %>
    </td>
		<td><%=h user.name %></td>
		<% if user.site %>
		  <td><%=h user.site.name %></td>
		<% else %>
		  <td>-</td>
		<% end %>
		<td><%=h user.email %></td>
		<td><%= show_link user %></td>
		<td><%= edit_link edit_user_path(user) %></td>
		<td><%= destroy_link user %></td>
	</tr>

	<% end %>
</table>

<br />

<%= new_link 'user', new_user_path %>