<% if @site %>
<h1>All Users for "<%= @site.name %>"</h1>
<% else %>
<h1>All Users</h1>
<% end %>

<table class="list">
	<tr>
	  <th>Picture</th>
		<th>Login</th>
		<th>Site</th>
		<th>Email</th>
		<th colspan="4">Actions</th>
	</tr>

	<% for user in @users %>
	<tr class="<%= cycle('odd', 'even') %>">
	  <td>
	    <% if user.user_picture %>
	      <%= small_picture(user.user_picture) %><br />
      <% else %>
        &nbsp;
      <% end %>
    </td>
		<td><%=h user.login %></td>
		<% if user.site %>
		  <td><%=h user.site.name %></td>
		<% else %>
		  <td>-</td>
		<% end %>
		<td><%=h user.email %></td>
		<td><%= show_link user %></td>
		<td><%= link_to 'Change Password', edit_password_path(user) %></td>
		<td><%= edit_link edit_user_path(user) %></td>
		<td><%= destroy_link user %></td>
	</tr>

	<% end %>
</table>

<br />

<%= new_link 'user', new_user_path %>