<h1>Create a new user</h1>

<% labelled_tabular_form_for(@user) do |f| -%>
<%= error_messages_for :user %>

<fieldset style="width: 50%">
  <legend>User Details</legend>
  <p><%= f.text_field :name, :required => true %></p>
  <p><%= f.text_field :email, :required => true %></p>
</fieldset>

<fieldset style="width: 50%">
  <legend>Access</legend>
  <p><%= f.select :site_id, Site.find(:all, :order => 'name ASC').collect { |site| [site.name, site.id] }, :include_blank => true %></p>

  <p>
    <% if current_user.rank == 'Administrator' -%>
    <%= f.select :rank, [ 'Administrator', 'Superuser', 'User' ], :include_blank => true %>
    <% else -%>
    <% @user.rank = 'User' %><%= f.hidden_field :rank %>User
    <% end -%>
  </p>
</fieldset>
<fieldset style="width: 50%">
  <legend>Password</legend>
  <p><%= f.password_field :password, :required => true %></p>
  <p><%= f.password_field :password_confirmation, :label => 'Confirm Password', :required => true %></p>
</fieldset>

<p><%= submit_tag 'Create' %></p>
<% end -%>
