<h1>Sign up as a new user</h1>
<% @user.password = @user.password_confirmation = nil %>

<% form_for(@user) do |f| -%>
	<%= error_messages_for :user %>

	<p>
		<%= f.label :login %><br/>
		<%= f.text_field :login %>
	</p>
	
	<p>
		<%= f.label :rank %><br />
		<% if current_user.rank == 'Administrator' -%>
		<%= f.select :rank, [ 'Administrator', 'Superuser', 'User' ], :include_blank => true %>
		<% else -%>
		<% @user.rank = 'User' %><%= f.hidden_field :rank %>User
		<% end -%>
	</p>

	<p>
		<%= f.label :email %><br/>
		<%= f.text_field :email %>
	</p>

	<p>
		<%= f.label :password %><br/>
		<%= f.password_field :password %>
	</p>

	<p>
		<%= f.label :password_confirmation, 'Confirm Password' %><br/>
		<%= f.password_field :password_confirmation %>
	</p>
	
	<p>
		<%= f.label :first_name %><br />
		<%= f.text_field :first_name %>
	</p>
	
	<p>
		<%= f.label :middle_name %><br />
		<%= f.text_field :middle_name %>
	</p>
	
	<p>
		<%= f.label :last_name %><br />
		<%= f.text_field :last_name %>
	</p>

	<p><%= submit_tag 'Create' %></p>
<% end -%>
