<p>
	<b>Login</b>
	<%=h @user.login %>
</p>

<p>
	<b>Email</b>
	<%=h @user.email %>
</p>

<p>
	<b>First name</b>
	<%=h @user.first_name %>
</p>

<p>
	<b>Middle name</b>
	<%=h @user.middle_name %>
</p>

<p>
	<b>Last name</b>
	<%=h @user.last_name %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
