<% if @user.user_picture %>
  <p>
    <%= large_picture(@user.user_picture) %><br />
  </p>
<% end %>

<p>
	<b>Name</b>
	<%=h @user.name %>
</p>

<p>
  <b>Site</b>
  <%=h(@user.site.name) unless @user.site.blank? %>
</p>

<p>
	<b>Rank</b>
	<%=h @user.rank %>
</p>

<p>
	<b>Email</b>
	<%=h @user.email %>
</p>

<%= edit_link edit_user_path(@user) %>