<% if @user.user_picture %>
  <p>
    <%= large_picture(@user.user_picture) %><br />
  </p>
<% end %>

<p>
	<b>Login</b>
	<%=h @user.name %>
</p>

<p>
  <b>Site</b>
  <%=h(@user.site.name) unless @user.site.blank? %>
</p>

<p>
	<b>Rank</b>
	<%=h @user.rank %>
</p>

<p>
	<b>Email</b>
	<%=h @user.email %>
</p>

<p>
	<b>First name</b>
	<%=h @user.first_name %>
</p>

<p>
	<b>Middle name</b>
	<%=h @user.middle_name %>
</p>

<p>
	<b>Last name</b>
	<%=h @user.last_name %>
</p>


<%= edit_link edit_user_path(@user) %>