<% if @user.photo_file %>
  <p>
    <%= image_tag(@user.photo_file.attachment.url, :style => 'vertical-align: top;') unless @user.photo_file.nil? %><br />
  </p>
<% end %>

<p>
	<b>Name</b>
	<%= @user.name %>
</p>

<p>
  <b>Site</b>
  <%=(@user.site.name) unless @user.site.blank? %>
</p>

<p>
	<b>Rank</b>
	<%= @user.rank %>
</p>

<p>
	<b>Email</b>
	<%= @user.email %>
</p>

<%= edit_link edit_user_path(@user) %>