<%= render_form_errors(@medication) %>
<%= knoxy_form_for([@test_subject, @medication]) do |f| %>
  <fieldset>
    <legend>Medication Details</legend>
    <p><%= f.input :drug, label: 'Drug name', required: true %></p>
    <p><%= f.input :started_on, label: 'Treatment started on', class: 'datepicker' %></p>
    <p><%= f.input :stopped_on, label: 'Treatment stopped on', class: 'datepicker' %></p>
    <p><%= f.input :currently_taking, label: 'Drug currently being taken?' %></p>
    <p><%= f.input :drugbank_reference, label: 'DrugBank reference (drug ID number)', maxlength: 7 %></p>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end -%>
