<p>
  <b><%= TestSubject.title %>:</b>
  <%= @medication.test_subject %>
</p>

<p>
  <b>Drug:</b>
  <%= @medication.drug %>
</p>

<p>
  <b>Started on:</b>
  <%= @medication.started_on %>
</p>

<p>
  <b>Stopped on:</b>
  <%= @medication.stopped_on %>
</p>

<p>
	<b>Currently taking:</b>
	<%= boolean_to_english(@medication.currently_taking) %>
</p>

<p>
	<b>Drugbank reference:</b>
	<%= @medication.drugbank_reference %>
</p>


<%= edit_link edit_test_subject_medication_path(@test_subject, @medication) %>