<p>
  <b>Patient:</b>
  <%=h @medication.patient %>
</p>

<p>
  <b>Drug:</b>
  <%=h @medication.drug %>
</p>

<p>
  <b>Started on:</b>
  <%=h @medication.started_on %>
</p>

<p>
  <b>Stopped on:</b>
  <%=h @medication.stopped_on %>
</p>

<p>
	<b>Currently taking:</b>
	<%=h boolean_to_english(@medication.currently_taking) %>
</p>

<p>
	<b>Drugbank reference:</b>
	<%=h @medication.drugbank_reference %>
</p>


<%= link_to 'Edit', edit_patient_medication_path(@patient, @medication), :class => 'icon icon-edit' %> |
<%= link_to 'Back', patient_medications_path(@patient) %>
