<h1>Editing data_file</h1>

<% form_for(@data_file) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :content_type %><br />
    <%= f.text_field :content_type %>
  </p>
  <p>
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @data_file %> |
<%= link_to 'Back', data_files_path %>
