<% if @experiment %>
  <h1>Data files for Experiment <%= @experiment.id %></h1>
<% else %>
  <h1>Data files</h1>
<% end %>

<table class="list">
	<tr>
		<th>Filename</th>
		<th>Size</th>
		<th>Type</th>
		<th colspan="3">Actions</th>
	</tr>

	<% for data_file in @data_files %>
	<tr class="<%= cycle('odd', 'even') %>">
		<td><%= link_to h(data_file.data_file_name), data_file.data.url %></td>
		<td><%= number_to_human_size(data_file.data_file_size) %></td>
		<td><%= link_to h(data_file.data_file_type.name), data_file_type_path(data_file.data_file_type) %></td>
		<td><%= show_link experiment_data_file_path(data_file.experiment, data_file) %></td>
		<td><%= destroy_link experiment_data_file_path(data_file.experiment, data_file) %></td>
	</tr>
	<% end %>
</table>

<br />

<% if @experiment %>
  <%= new_link 'data file for this experiment', new_experiment_data_file_path(@experiment) %>
<% end %>