<h1>Listing data files</h1>

<table>
  <tr>
  	<th>Filename</th>
    <th>Size</th>
	<th>Type</th>
  </tr>

<% for data_file in @data_files %>
  <tr>
	<td><%=h data_file.data_file_type.name %></td>
    <td><%=h number_to_human_size(data_file.size) %></td>
	<td><%= link_to h(data_file.filename), data_file_type_path(data_file.data_file_type) %></td>
    <td><%= link_to 'File Information', sample_data_file_path(@sample, data_file) %></td>
    <td><%= link_to 'Delete File', sample_data_file_path(@sample, data_file), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Upload a data file for this sample', new_sample_data_file_path(@sample) %> | 
<%= link_to 'Back to Sample', patient_sample_path(@sample.patient, @sample) %>
