<h1>Data File Upload</h1>

<% form_for(:data_file, :url => sample_data_files_path(@sample), :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label 'File to Upload' %><br />
	<%= f.file_field :uploaded_data %>
  </p>
	
  <p>
    <%= f.label :data_file_type %><br />
    <%= f.select :data_file_type_id, DataFileType.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true } %>
  </p>

  <br />
	
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
	
  <br />

  <p>
    <%= f.submit "Upload" %>
  </p>
<% end %>

<br />

<%= link_to 'Back to all data files for this sample', sample_data_files_path(@sample) %>
