<h1>Data File Upload</h1>

<%= labelled_tabular_form_for([@experiment, @data_file], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  
  <fieldset>
    <legend>Data File Details</legend>
    <p><%= f.file_field :uploaded_data, :label => 'File to Upload', :required => true %></p>
    <p><%= f.select :data_file_type_id, DataFileType.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true, :required => true } %></p>
    <p><%= f.check_box :has_concentrations, :label => 'This file contains concentration data in CSV format that should be imported into the LIMS' %> (<%= link_to 'File Format Information', '/file_format.html', :target => '_blank' %>)
    <p><%= f.select :has_concentration_units, ["uM", "mmol / mol creatinine"], :include_blank => false, :label => 'Units' %></p>
    
    <br />

    <p><%= f.text_area :description %></p>
  </fieldset>

  <p><%= f.submit "Upload" %></p>
<% end %>