<p>
  <b>Size:</b>
  <%=h @data_file.size %>
</p>

<p>
  <b>Content type:</b>
  <%=h @data_file.content_type %>
</p>

<p>
  <b>Filename:</b>
  <%=h @data_file.filename %>
</p>

<p>
  <b>Description:</b>
  <%=h @data_file.description %>
</p>


<%= link_to 'Back to all data files for this experiment', experiment_data_files_path(@experiment) %>
