<%= render_form_errors(@client) %>
<%= knoxy_form_for(@client) do |f| %>
  <fieldset>
    <%= form_header 'Client Details' %>
    <%= f.text_field :email %>
    <%= f.text_field :name %>
  </fieldset>

  <div class="actions field-no-label">
    <%= f.submit %>
    <%= link_to 'Cancel', (@client.new_record? ? clients_path : @client) %>
  </div>
<% end %>
