<h1>Listing ingredients</h1>

<table class="list">
  <tr>
    <th>Name</th>
		<th colspan="3">Actions</th>
  </tr>

<% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= ingredient.name %></td>
    <td><%= link_to_show ingredient %></td>
    <td><%= link_to_edit edit_ingredient_path(ingredient) %></td>
    <td><%= link_to_destroy ingredient %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to_new 'ingredient', new_ingredient_path %>
