<h1>pH a Batch of Samples</h1>

<p class="info">
  <%= image_tag 'info.png', :class => 'info-logo' %>
  pH balance a batch of samples. 
</p>


<%= form_tag batches_phs_path :method => :put do %>  

  <fieldset id="batch" class="fields-for">
    <legend>Batch <%= @batch.name %></legend>  

    <% for sample in @batch.samples %>  
      <%= fields_for "samples[]", sample do |f| %>  
        <%= render :partial => 'sample', :locals => { :f => f } %>
      <% end %>  
    <% end %>  

    <p><%= submit_tag "Submit" %></p>  

  </fieldset>
<% end %>  
