<h1><%= TestSubject.title.pluralize %></h1>

<table class="list">
	<tr>
		<th>Code</th>
		<th>Birthdate</th>
		<th>Number of Samples</th>
		<th colspan="3">Actions</th>
	</tr>

	<% for test_subject in @test_subjects %>
	<tr class="<%= cycle('odd', 'even') %>">
		<td><%= test_subject.code %></td>
		<td><%= test_subject.birthdate %></td>
		<td><%= test_subject.samples.length %> (<%= link_to 'display', test_subject_samples_path(test_subject) %>)</td>
		<td><%= link_to_show test_subject %></td>
		<td><%= link_to_edit edit_test_subject_path(test_subject) %></td>
		<td><%= link_to_destroy test_subject %></td>
	</tr>
	<% end %>
</table>
<br />

<%= link_to_new TestSubject.title.downcase, new_test_subject_path %>
