<h1>Showing animal <%= @animal %></h1>

<p>
  <b>Animal Code:</b>
  <%=h @animal.code %>
</p>

<p>
  <b>Subspecies:</b>
  <%=h @animal.subspecies %>
</p>

<p>
	<b>Birth date:</b>
	<%=h @animal.birthdate %>
</p>

<p>
	<b>Calving date:</b>
	<%=h @animal.calving_date %>
</p>

<p>
	<b>Lactation Number:</b>
	<%=h @animal.lactation_number %>
</p>

<p>
	<b>Experiment start date:</b>
	<%=h @animal.experiment_start_date %>
</p>

<p>
	<b>Days in Milk at start:</b>
	<%=h @animal.days_in_milk_at_start %>
</p>

<p>
	<b>Experiment end date:</b>
	<%=h @animal.experiment_end_date %>
</p>

<p>
	<b>Days in Milk at end:</b>
	<%=h @animal.days_in_milk_at_end %>
</p>

<p>
	<b>Notes:</b>
	<%=h @animal.notes %>
</p>

<br />

<%= edit_link edit_animal_path(@animal) %>

<br />
<br />

<fieldset>
  <legend>Feeding Information</legend>
  
  <% if @meals.length > 0 %>
    <table>
      <tr>
        <th>Animal</th>
        <th>Diet</th>
        <th>Amount (kg)</th>
        <th>Period</th>
        <th>Day</th>
      </tr>

    <% @meals.each do |meal| %>
      <tr>
        <td><%= link_to meal.animal.code, animal_path(meal.animal) %></td>
        <td><%= link_to meal.diet.name, diet_path(meal.diet) %></td>
        <td><%= meal.amount %></td>
        <td><%= meal.consumed_during_period %></td>
        <td><%= meal.consumed_on_day %></td>
        <td><%= show_link animal_meal_path(@animal, meal) %></td>
        <td><%= edit_link edit_animal_meal_path(@animal, meal) %></td>
        <td><%= destroy_link animal_meal_path(@animal, meal) %></td>
      </tr>
    <% end %>
    </table>
    
    <br />
    
    <%= new_link "meal for animal #{@animal.code}", new_animal_meal_path(@animal) %>
  <% else %>
    No current feeding information.
  <% end %>
</fieldset>
  
