<h1>Showing animal <%= @animal %></h1>

<p>
  <b>Animal Code:</b>
  <%=h @animal.code %>
</p>

<p>
  <b>Breed:</b>
  <%=h @animal.breed %>
</p>

<p>
	<b>Birth date:</b>
	<%=h @animal.birthdate %>
</p>

<p>
	<b>Calving date:</b>
	<%=h @animal.calving_date %>
</p>

<p>
	<b>Lactation Number:</b>
	<%=h @animal.lactation_number %>
</p>

<p>
	<b>Experiment start date:</b>
	<%=h @animal.experiment_start_date %>
</p>

<p>
	<b>DIM at start:</b>
	<%=h @animal.days_in_milk_at_start %>
</p>

<p>
	<b>Experiment end date:</b>
	<%=h @animal.experiment_end_date %>
</p>

<p>
	<b>DIM at end:</b>
	<%=h @animal.days_in_milk_at_end %>
</p>

<p>
	<b>Notes:</b>
	<%=h @animal.notes %>
</p>

<br />

<%= edit_link edit_animal_path(@animal) %>
