<h1>Studies</h1>

<p>
  Studies allow users to analyze samples at a phenotypic level. <%= SUBJECT_CONFIG[:title] %> cohorts are added to the study, and associated with <em>labels</em> (i.e. phenotypic conditions of interest). This allows the export of <%= SUBJECT_CONFIG[:name].pluralize %> and directed analysis with respect to the labels.
</p>

<br />

<table class="list">
  <tr>
    <th>Name</th>
    <th>Description</th>
		<th>Cohorts</th>
		<th colspan="3">Actions</th>
  </tr>

<% for study in @studies %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= study.name %></td>
    <td><%= short_description(study.description) %></td>
  	<td><%= study.study_cohort_assignments.length %></td>
  	<td><%= show_link({:action => 'show', :id => study}) %></td>
  	<td><%= edit_link({:action => 'edit', :id => study}) %></td>
  	<td><%= destroy_link({:action => 'destroy', :id => study}) %></td>
  </tr>
<% end %>
</table>

<br />

<%= new_link("Study", {:action => 'new'}) %>