<h1>Studies</h1>

<p class="info"><%= render :partial => "info" %></p>

<br />

<table class="list">
  <tr class="header">
    <th>Name</th>
    <th>Description</th>
		<th>Cohorts</th>
		<th colspan="3">Actions</th>
  </tr>

<% @studies.each do |study| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= study.name %></td>
    <td><%= truncate(study.description, :length => 50) %></td>
  	<td><%= study.cohorts.count %></td>
  	<td><%= link_to_show({:action => 'show', :id => study}, 'show/analyze') %></td>
  	<td><%= link_to_edit({:action => 'edit', :id => study}) %></td>
  	<td><%= link_to_destroy({:action => 'destroy', :id => study}) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to_new("Study", {:action => 'new'}) %>
