<h1>Showing Study "<%=h @study.name %>"</h1>

<p>
	<b>Name:</b>
	<%=h @study.name %>
</p>

<p>
	<b>Description:</b>
	<%=h @study.description %>
</p>

<% if @study.cohort_assignments.length > 1 %>
  <fieldset>
    <legend>Export Study For Analysis</legend>
    This study is eligible for export to comma-seperated-value (CSV) format. Exporting a study will create a CSV file in a format accepted by many data analysis programs (for example, <%= link_to 'Metaboanalyst', 'http://www.metaboanalyst.ca', :target => '_blank' %>). Each row in the file will be a labelled <%= TestSubject.title %> from the database, annotated with identified metabolites.
    <br />
    <br />
    <%= link_to 'Export', export_study_path(@study) %>
  </fieldset>
<% end %>

<h2>Cohorts in this study:</h2>

<div class="association">
	<table class="list">
		<thead>
			<tr>
				<th>Cohort</th>
				<th>Label</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody id="assignable-associations">
			<%= render :partial => '/study_cohort_assignments/study_cohort_assignment', :collection => @study.study_cohort_assignments %>
		</tbody>
	</table>
	<br /><br />
	<div class="new-association">
		<%= render :partial => '/study_cohort_assignments/add_assignable_form' %>
	</div>
	<br />
</div>

<%= edit_link({:action => 'edit'}) %>