<h1>Showing Study "<%= @study.name %>"</h1>

<% if @study.description.present? %>
<p><%= @study.description %></p>
<% end -%>

<div id="export-info" style="display: <%= @study.cohorts.count > 0 ? 'block' : 'none' %>">
  <h2>Data Analysis</h2>
  <%= image_tag 'pie.png', :class => 'analysis' %>
  <p>This study is eligible for analysis. You may export the study to comma-seperated-value (CSV) format. Exporting a study will create a CSV file in a format accepted by many data analysis programs (for example, <%= link_to 'Metaboanalyst', 'http://www.metaboanalyst.ca', :target => '_blank' %>). Each row in the file will be a labelled <%= TestSubject.title %> from the database, annotated with identified metabolites. You may also run basic PCA and Correlation analysis if you have at least two cohorts in your study.</p>

  <div id="run-container">
    <%= link_to 'Run Analysis', analysis_study_path(@study), :style => "display: #{ @study.cohorts.length > 1 ? 'inline' : 'none'}", :id => 'run-analysis' %>
  </div>
  <div id="export-container">
    <%= link_to 'Export to MetaboAnalyst', study_path(@study, :format => :metaboanalyst) %> |
    <%= link_to 'Export to Umetrics', study_path(@study, :format => :umetrics) %>
  </div>
</div>

<h2><%= TestSubject.title %> cohorts in this study (<%= link_to 'Organize', cohort_assignment_workflows_study_path(@study) %>):</h2>

<div class="association">
	<table class="list" style="width: 1000px">
		<thead>
			<tr class="header">
				<th>Label</th>
				<th>Control?</th>
        <th><%= TestSubject.title.pluralize %></th>
			</tr>
		</thead>
		<tbody>
      <% @study.cohorts.each do |cohort| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= cohort.label %></td>
        <td><%= cohort.control %></td>
        <td><%== cohort.test_subjects.collect { |ts| link_to( "#{ts.code} (#{ts.site.name})", ts ) }.join(", ") %></td>
      </tr>
      <% end -%>
    </tbody>
	</table>
</div>
<br /><br />

<%= link_to_edit({:action => 'edit'}) %>
