<%= form.error_messages %>

<fieldset>
  <legend>Experiment Description</legend>
  <p><%= form.text_field :name, :label => 'Experiment title', :style => "width: 250px" %></p>
  <p><%= form.select :protocol_id, Protocol.all.collect {|p| [ "#{p.name} (version #{p.version})", p.id ] }, { :label => 'Experiment protocol' }, { :include_blank => true } %></p>
  <p><%= form.text_area :description, :style => "width: 350px; height: 70px" %></p>
  <p><%= form.text_area :comments, :style => "width: 350px; height: 70px" %></p>
</fieldset>

<fieldset>
  <legend>Analysis</legend>
  <% user_options = User.find(:all, :order => 'login ASC').collect { |u| [ u.login, u.id ] } %>
  <p>
    <%= form.select :assigned_to_id, user_options, :label => 'To be analyzed by', :include_blank => true %> 
    on <%= form.date_select :perform_on, :no_label => true, :include_blank => true %>
  </p>
  <p>
    <%= form.select :performed_by_id, user_options, :label => 'Actually analyzed by', :include_blank => true %>
    on <%= form.date_select :performed_on, :no_label => true, :include_blank => true %>
  </p>
</fieldset>

<fieldset>
  <legend>Sample Details</legend>
  <p>
    <%= form.text_field :amount_used, :label => 'Amount used for experiment', :size => 5 %> 
    <%= form.select :amount_used_unit, volume_unit_options, :no_label => true, :include_blank => true %>
  </p>
</fieldset>