<%= render_form_errors(@experiment) %>
<%= knoxy_form_for( [@sample, @experiment] ) do |f| %>
  <fieldset>
    <legend>Experiment Description</legend>
    <%= f.input :name, label: 'Experiment title', style: "width: 250px", required: true %>
    <%= f.input :protocol_id, collection: Protocol.all.map {|p| [p.to_label, p.id] }, label: 'Experiment protocol', include_blank: true %>
    <%= f.input :experiment_type_id, collection: ExperimentType.all.map {|p| [p.name, p.id] }, include_blank: true, required: true %>
    <%= f.input :description, style: "width: 350px; height: 70px" %>
    <%= f.input :comments, style: "width: 350px; height: 70px" %>
  </fieldset>

  <fieldset>
    <legend>Analysis</legend>
    <%= f.inner_field_group :assigned_to_id do %>
      <%= f.input :assigned_to_id, collection: User.order(:name), include_blank: true %>
      on
      <%= f.input :perform_on, class: 'datepicker' %>
    <% end -%>
    <%= f.inner_field_group :performed_by_id do %>
      <%= f.input :performed_by_id, collection: User.order(:name), include_blank: true %>
      on
      <%= f.input :performed_on, class: 'datepicker' %>
    <% end -%>
  </fieldset>

  <fieldset>
    <legend>Sample Details</legend>
    <%= f.inner_field_group :amount_used do %>
      <%= f.input :amount_used, label: 'Amount used for experiment' %>
      <%= f.input :amount_used_unit, collection: volume_unit_options, include_blank: true %>
    <% end -%>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end -%>
