<h1><%= @sample.blank? ? 'Experiments' : "Experiments for sample #{@sample}" %></h1>

<table class="list">
  <tr>
    <th><%= TestSubject.title %></th>
    <th>Sample</th>
    <th>Title</th>
    <th>Type</th>
    <th>Description</th>
    <th>To be analyzed by</th>
    <th>To be analyzed on</th>
    <th>Analyzed by</th>
    <th>Analyzed on</th>
    <th>Data Files</th>
    <th colspan="3">Actions</th>
  </tr>

  <% for experiment in @experiments %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= link_to(experiment.sample.root, experiment.sample.root) %></td>
    <td><%= link_to(experiment.sample, experiment.sample) %></td>
    <td><%= experiment.name %></td>
    <td><%= experiment.experiment_type.name unless experiment.experiment_type.nil? %></td>
    <td><%= short_description(experiment.description) %></td>
    <td><%= link_to(experiment.assigned_to.name, experiment.assigned_to) %></td>
    <td><%= experiment.perform_on %></td>
    <td><% if experiment.performed_by %><%= link_to(experiment.performed_by.name, experiment.performed_by) %><% else %>&nbsp;<% end %></td>
    <td><% if experiment.performed_on %><%= experiment.performed_on %><% else %>&nbsp;<% end %></td>
    <td>
      <% if experiment.data_files.length > 0 %>
        <ul>
          <% for data_file in experiment.data_files %>
          	<li><%= link_to h(data_file.data_file_name), data_file.data.url %></li>
          <% end %>
        </ul>
      <% else %>
      -
      <% end %>
    </td>
    <td><%= show_link [experiment.sample, experiment] %></td>
    <td><%= edit_link edit_sample_experiment_path(experiment.sample, experiment) %></td>
    <td><%= destroy_link [experiment.sample, experiment] %></td>
  </tr>
  <% end %>
</table>

<br />

<% if !@sample.blank? %>
  <%= new_link 'experiment for this sample', new_sample_experiment_path(@sample) %>
<% end %>