<h1><%= title "Showing experiment <em>#{@experiment.name}</em>" %></h1>

<% if @experiment.sample.present? %>
<div id="tracking">
  <%= image_tag 'tracking.jpg', :id => 'tracking-logo'  %>
  <h2>Sample Tracking</h2>
    <p>
    <strong>Sample type</strong><br />
    <span class="sample-type <%= @experiment.sample.sample_type.downcase %>"><%= @experiment.sample.sample_type %></span>
  </p>    

  <% if @experiment.sample.barcode.present? %>
  <p>
    <strong>Sample barcode</strong><br />
    <%= @experiment.sample.barcode %>
  </p>    
  <% end -%>

  <% if @experiment.sample.original_amount.present? %>
  <p>
    <strong>Original Amount</strong><br />
    <%= @experiment.sample.original_amount %> <%= @experiment.sample.original_unit %>
  </p>    
  <% end -%>
  
  <% if @experiment.sample.location_information? %>
    <% if @experiment.sample.site.present? %>
    <p>
      <strong>Storage Site</strong><br />
      <%= @experiment.sample.site.name %>
    </p>
    <% end -%>

    <% [:building, :room, :freezer, :shelf, :box, :box_position ].each do |location| %>
      <% if @experiment.sample.send(location).present? %>
        <p>
          <strong><%= location.to_s.humanize %></strong><br />
          <%= @experiment.sample.send(location) %>
        </p>
      <% end -%>
    <% end -%>
  <% end -%>
  <%= link_to "More info", @experiment.sample, :id => 'more-info' %>
</div>
<% end -%>

<p>
  <strong>Experiment Title:</strong>
  <%= @experiment.name %>
</p>

<p>
  <strong>Experiment Type:</strong>
  <%= @experiment.experiment_type.name %>
</p>

<% if @experiment.description.present? %>
<p>
  <strong>Experiment Description:</strong>
  <%= @experiment.description %>
</p>
<% end -%>

<p>
  <strong>Amount used:</strong>
  <%= @experiment.amount_used %> <%= @experiment.amount_used_unit %>
</p>

<p>
  <strong>Protocol:</strong>
  <% if @experiment.protocol %>
  	<%= link_to @experiment.protocol.name, protocol_path(@experiment.protocol) %> (Version <%= @experiment.protocol.version %>)
  <% else %>
	None
  <% end %>
</p>

<% if @experiment.perform_on.present? %>
<p>
  <strong>Planned analysis date</strong><br />
  <%= @experiment.perform_on %>
</p>
<% end -%>

<% if @experiment.assigned_to.present? %>
<p>
  <strong>Assigned to</strong><br />
  <%= @experiment.assigned_to.name %>
</p>
<% end -%>

<% if @experiment.performed_on.present? %>
<p>
  <strong>Performed on</strong><br />
  <%= @experiment.performed_on %>
</p>
<% end -%>

<% if @experiment.performed_by.present? %>
<p>
  <strong>Performed by</strong><br />
  <%= @experiment.performed_by.name %>
</p>
<% end -%>

<p class="actions">
<%= edit_link edit_sample_experiment_path(@sample, @experiment) %>
</p>


<h2>Data Files</h2>
<div id="data-files">
<% if @experiment.data_files.count <= 0 %>
There are no data file associated with this experiment. <br />
<% else -%>
<strong><%= @experiment.data_files.length %> Data Files:</strong>
  <table class="list">
  	<tr>
  		<th>Filename</th>
  		<th>Size</th>
  		<th>Type</th>
  		<th colspan="3">Actions</th>
  	</tr>

  	<% @experiment.data_files.each do |data_file| %>
  	<tr class="<%= cycle('odd', 'even') %>">
  		<td><%= link_to data_file.data_file_name, data_file.data.url %></td>
  		<td><%= number_to_human_size(data_file.data_file_size) %></td>
  		<td><%= link_to data_file.data_file_type.name, data_file_type_path(data_file.data_file_type) %></td>
  		<td><%= show_link experiment_data_file_path(@experiment, data_file) %></td>
  		<td><%= destroy_link experiment_data_file_path(@experiment, data_file) %></td>
  	</tr>
  	<% end %>
  </table>
<% end %>

<p class="action">
<%= new_link 'Upload new data file', new_experiment_data_file_path(@experiment) %> 
</p>
</div>


