<h1>Showing experiment <em><%= @experiment.name %></em></h1>

<p>
  <b>Experiment Title:</b>
  <%=h @experiment.name %>
</p>

<p>
  <b>Experiment Description:</b>
  <%=h @experiment.name %>
</p>

<p>
  <b>Planned analysis date:</b>
  <%=h @experiment.perform_on %>
</p>

<p>
  <b>User Assigned to :</b>
  <%=h @experiment.assigned_to %>
</p>

<p>
  <b>Performed on:</b>
  <%=h @experiment.performed_on %>
</p>

<p>
  <b>Performed by:</b>
  <%=h @experiment.performed_by %>
</p>

<p>
  <b>Amount used:</b>
  <%=h @experiment.amount_used %>
</p>

<p>
  <b>Amount used unit:</b>
  <%=h @experiment.amount_used_unit %>
</p>

<p>
  <b>Protocol:</b>
  <% if @experiment.protocol %>
  	<%= link_to @experiment.protocol.name, protocol_path(@experiment.protocol) %>
  <% else %>
	None
  <% end %>
</p>

<%= edit_link edit_sample_experiment_path(@sample, @experiment) %>

<br /><br />

<p>
  <b><%=h @experiment.data_files.length %> Data Files:</b>
  <% if @experiment.data_files.length > 0 %>
    <table class="list">
    	<tr>
    		<th>Filename</th>
    		<th>Size</th>
    		<th>Type</th>
    		<th colspan="3">Actions</th>
    	</tr>

    	<% for data_file in @experiment.data_files %>
    	<tr class="<%= cycle('odd', 'even') %>">
    		<td><%= link_to h(data_file.filename), data_file.public_filename %></td>
    		<td><%=h number_to_human_size(data_file.size) %></td>
    		<td><%= link_to h(data_file.data_file_type.name), data_file_type_path(data_file.data_file_type) %></td>
    		<td><%= show_link experiment_data_file_path(@experiment, data_file) %></td>
    		<td><%= destroy_link experiment_data_file_path(@experiment, data_file) %></td>
    	</tr>
    	<% end %>
    </table>

    <br />

    <%= new_link 'data file for this experiment', new_experiment_data_file_path(@experiment) %>

  <% end %>
</p>