<fieldset>
  <legend>Test Details</legend>
  <p><%= form.input :collected_at, label: 'Test completed at', order: [:month, :day, :year], include_blank: true %></p>
  <p><%= form.input :notes %></p>
</fieldset>

<hr />

<% tests(@lab_test, true).each do |test| %>
  <fieldset>
    <legend><%= "#{test}".gsub('_', ' ').capitalize %></legend>
    <p>
      <%= form.input "#{test}_value".to_sym, label: 'Level' %>
      <%= form.input :"#{test}_unit".to_sym, collection: clinical_unit_options, label: false, include_blank: true %>
    </p>
    <p><%= form.input "#{test}_tested_at".to_sym, label: 'Tested at', order: [:month, :day, :year], include_blank: true %></p>
  </fieldset>
<% end %>
