<p>
  <%= form.label :collected_at %><br />
  <%= form.datetime_select :collected_at %>
</p>

<br /><hr /><br />

<p>
  <%= form.label :cholesterol_value %><br />
  <%= form.text_field :cholesterol_value %>
</p>
<p>
  <%= form.label :cholesterol_unit %><br />
  <%= form.text_field :cholesterol_unit %>
</p>
<p>
  <%= form.label :cholesterol_tested_at %><br />
  <%= form.datetime_select :cholesterol_tested_at %>
</p>

<br /><hr /><br />

<p>
  <%= form.label :creatinine_value %><br />
  <%= form.text_field :creatinine_value %>
</p>
<p>
  <%= form.label :creatinine_unit %><br />
  <%= form.text_field :creatinine_unit %>
</p>
<p>
  <%= form.label :creatinine_tested_at %><br />
  <%= form.datetime_select :creatinine_tested_at %>
</p>
