<fieldset>
  <legend>Test Details</legend>
  <p><%= form.datetime_select :collected_at, :label => 'Test completed at' %></p>
</fieldset>

<hr />

<% for test in tests(@lab_test, true) %>

<fieldset style="width: 70%">
  <legend><%= "#{test}".gsub('_', ' ').capitalize %></legend>
  <p>
    <%= form.text_field "#{test}_value".to_sym, :label => 'Level' %> 
    <%= form.select :"#{test}_unit".to_sym, clinical_unit_options, :no_label => true, :include_blank => true %>
  </p>
  <p><%= form.datetime_select "#{test}_tested_at".to_sym, :label => 'Tested at' %></p>
</fieldset>

<% end %>
