<h1>Editing Lab Test</h1>

<%= render_form_errors(@lab_test) %>
<%= knoxy_form_for([@test_subject, @lab_test]) do |form| %>
  <%= render :partial => 'form', :locals => { :form => form } %>

  <p>
    <%= form.submit "Update" %>
  </p>
<% end %>

<%= link_to_show test_subject_lab_test_path(@test_subject, @lab_test) %>
