<h1>Editing lab_test</h1>

<% form_for([@patient, @lab_test]) do |f| %>

  <%= render :partial => 'lab_test', :locals => {:f => f} %>

  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', patient_lab_test_path(@patient, @lab_test) %> |
<%= link_to 'Back', patient_lab_tests_path(@patient) %>
