<h1>Listing Lab Tests for <%= TestSubject.title %> '<%= @test_subject.code %>'</h1>

<table class="list">
	<tr>
		<th>Tests Performed</th>
		<th>Collected At</th>
		<th colspan="3">Actions</th>
	</tr>

	<% @lab_tests.each do |lab_test| %>
	<tr class="<%= cycle('odd', 'even') %>">
		<td>
      <% nonempty_tests = tests(lab_test) %>
      <% if nonempty_tests.length > 0 %>

        <ul>
		      <% for test in tests(lab_test) %>
            <li><%= test.gsub('_', ' ') %>: <%= lab_test.send("#{test}_value") %> <%= lab_test.send("#{test}_unit") %></li>
		      <% end %>
	      </ul>

		  <% end %>
		</td>
		<td><%= lab_test.collected_at %></td>
		<td><%= show_link test_subject_lab_test_path(@test_subject, lab_test) %></td>
		<td><%= edit_link edit_test_subject_lab_test_path(@test_subject, lab_test) %></td>
		<td><%= destroy_link test_subject_lab_test_path(@test_subject, lab_test) %></td>
	</tr>
	<% end %>
</table>

<br />
<%= new_link 'lab test', new_test_subject_lab_test_path(@test_subject) %>
