<h1>Listing Lab Tests for Patient '<%= @patient.code %>'</h1>

<table class="list">
	<tr>
		<th>Tests Performed</th>
		<th>Collected At</th>
		<th colspan="3">Actions</th>
	</tr>

	<% for lab_test in @lab_tests %>
	<tr class="<%= cycle('odd', 'even') %>">
		<td>
      <% nonempty_tests = tests(lab_test) %>
      <% if nonempty_tests.length > 0 %>
      
        <ul>
		      <% for test in tests(lab_test) %>
            <li><%= test.gsub('_', ' ') %>: <%= lab_test.send("#{test}_value") %> <%= lab_test.send("#{test}_unit") %></li>
		      <% end %>
	      </ul>
	    
		  <% end %>
		</td>
		<td><%=h lab_test.collected_at %></td>
		<td><%= show_link patient_lab_test_path(@patient, lab_test) %></td>
		<td><%= edit_link edit_patient_lab_test_path(@patient, lab_test) %></td>
		<td><%= destroy_link patient_lab_test_path(@patient, lab_test) %></td>
	</tr>
	<% end %>
</table>

<br />
<%= new_link 'lab test', new_patient_lab_test_path(@patient) %>
