
<p>
  <b><%= TestSubject.title %>:</b>
  <%= @lab_test.test_subject %>
</p>

<p>
  <b>Collected at:</b>
  <%= @lab_test.collected_at %>
</p>

<hr>

<% for test in tests(@lab_test, true) %>
  
  <% name = test.gsub('_', ' ').capitalize() %>
  <% if not @lab_test.send("#{test}_value").nil? %>
    <p>
      <b><%= name %>:</b>
      <%= @lab_test.send("#{test}_value") %> <%= @lab_test.send("#{test}_unit") %> (<%= @lab_test.send("#{test}_tested_at") %>)
    </p>
  <% end %>

<% end %>


<%= edit_link edit_test_subject_lab_test_path(@test_subject, @lab_test) %>