
<p>
  <b>Animal:</b>
  <%=h @lab_test.animal %>
</p>

<p>
  <b>Collected at:</b>
  <%=h @lab_test.collected_at %>
</p>

<hr>

<% for test in tests(@lab_test, true) %>
  
  <% name = test.gsub('_', ' ').capitalize() %>
  <p>
    <b><%= name %> value:</b>
    <%=h @lab_test.send("#{test}_value") %>
  </p>
  <p>
    <b><%= name %> unit:</b>
    <%=h @lab_test.send("#{test}_unit") %>
  </p>
  <p>
    <b><%= name %> tested at:</b>
    <%=h @lab_test.send("#{test}_tested_at") %>
  </p>
  
<% end %>


<%= edit_link edit_animal_lab_test_path(@animal, @lab_test) %>