<h1>Editing Password for User <%=@user.to_s %></h1>
<% @user.password = @user.password_confirmation = nil %>

<% form_for(@user, :url => password_path(@user)) do |f| %>
  <%= f.error_messages %>

	<p><%= label_tag 'old_password', 'Previous Password' %><br/>
	<%= password_field_tag :old_password %></p>
	
	<p><%= label_tag 'New password' %><br/>
	<%= f.password_field :password %></p>
	
	<p><%= label_tag 'password_confirmation', 'Confirm New Password' %><br/>
	<%= f.password_field :password_confirmation %></p>
	
	<p>
	  <%= f.submit "Update" %>
	</p>
<% end %>
