<h1>Editing Patient <%=@patient.code%></h1>

<% form_for(@patient) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
	<p>
		<%= f.label :address %><br />
		<%= f.text_field :address %>
	</p>
	<p>
		<%= f.label :address_2 %><br />
		<%= f.text_field :address_2 %>
	</p>
	<p>
		<%= f.label :city %><br />
		<%= f.text_field :city %>
	</p>
	<p>
		<%= f.label :province_state, 'Province/State' %><br />
		<%= f.text_field :province_state %>
	</p>
	<p>
		<%= f.label :country %><br />
		<%= f.country_select :country, nil, :include_blank => true %>
	</p>
	<p>
		<%= f.label :postal_zip_code, 'Postal/Zip code' %><br />
		<%= f.text_field :postal_zip_code %>
	</p>
  <p>
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate, :order => [:day, :month, :year] %>
  </p>
	<p>
		<%= f.label :blood_type %><br />
		<%= f.select :blood_type, ['A', 'B', 'O', 'AB'], :include_blank => true %>
	</p>
  <p>
    <%= f.label :gender %><br />
    <%= f.select :gender, ['Male', 'Female'], :include_blank => true %>
  </p>
	<p>
		<%= f.label :ethnicity %><br />
		<%= f.text_field :ethnicity %>
	</p>
	<p>
		<%= f.label :race %><br />
		<%= f.text_field :race %>
	</p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </p>
	<p>
		<%= f.label :education %><br />
		<%= f.text_field :education %>
	</p>
	<p>
		<%= f.label :marital_status %><br />
		<%= f.select :marital_status, ['Single', 'Married', 'Separated', 'Divorced', 'Widowed'], :include_blank => true %>
	</p>
	<p>
		<%= f.label :practitioner %><br />
		<%= f.text_field :practitioner %>
	</p>
	<p>
		<%= f.label :notes %><br />
		<%= f.text_area :notes %>
	</p>
  <br />
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<br />

<%= link_to 'Show', @patient %> |
<%= link_to 'Back to all patients', patients_path %>
