<h1>All Patients</h1>

<table class="list">
	<tr>
		<th>Code</th>
		<th>Initials</th>
		<th>Site</th>
		<th>Number of Samples</th>
		<th colspan="3">Actions</th>
	</tr>

	<% for patient in @patients %>
	<tr class="<%= cycle('odd', 'even') %>">
		<td><%=h patient.code %></td>
		<td><%=h patient.name %></td>
		<td><%=h patient.site.name %></td>
		<td><%= link_to patient.samples.length, patient_samples_path(patient) %></td>
		<td><%= show_link patient %></td>
		<td><%= edit_link edit_patient_path(patient) %></td>
		<td><%= destroy_link patient %></td>
	</tr>
	<% end %>
</table>

<br />

<%= new_link 'patient', new_patient_path %>
