<h1>All Patients</h1>

<table class="list">
	<tr>
		<th>Code</th>
		<th>Initials</th>
		<th>Site</th>
		<th>Number of Samples</th>
		<th colspan="3">Actions</th>
	</tr>

	<% for patient in @patients %>
	<tr class="<%= cycle('odd', 'even') %>">
		<td><%=h patient.code %></td>
		<td><%=h patient.name %></td>
		<td><%=h patient.site.name %></td>
		<td><%= link_to patient.samples.length, patient_samples_path(patient) %></td>
		<td><%= link_to 'Show', patient %></td>
		<td><%= link_to 'Edit', edit_patient_path(patient) %></td>
		<td><%= link_to 'Destroy', patient, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to 'New patient', new_patient_path, :class => 'icon icon-add' %>
