<h1>Information for Patient <%= @patient.code %></h1>

<p>
  <b>Code:</b>
  <%=h @patient.code %>
</p>

<p>
	<b>Patient:</b>
	<%=h @patient.site.name %>
</p>

<p>
  <b>First name:</b>
  <%=h @patient.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%=h @patient.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @patient.last_name %>
</p>

<p>
  <b>Birthdate:</b>
  <%=h @patient.birthdate %>
</p>

<p>
	<b>Blood type:</b>
	<%=h @patient.blood_type %>
</p>

<p>
  <b>Gender:</b>
  <%=h @patient.gender %>
</p>

<p>
	<b>Ethnicity:</b>
	<%=h @patient.ethnicity %>
</p>

<p>
	<b>Race:</b>
	<%=h @patient.race %>
</p>

<p>
	<b>Practitioner:</b>
	<%=h @patient.practitioner %>
</p>

<p>
	<b>Notes:</b>
	<%=h @patient.notes %>
</p>


<br />

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back to all patients', patients_path %>
