<h1>Showing animal <%= @animal %></h1>

<p>
  <b>Code:</b>
  <%=h @animal.code %>
</p>

<p>
	<b>Site:</b>
	<%=h @animal.site.name %>
</p>

<p>
  <b>Initials:</b>
  <%=h @animal.first_initial %><%=h @animal.middle_initial %> <%=h @animal.last_initial %>
</p>

<p>
  <b>Birthdate:</b>
  <%=h @animal.birthdate %>
</p>

<p>
	<b>Blood type:</b>
	<%=h @animal.blood_type %>
</p>

<p>
  <b>Gender:</b>
  <%=h @animal.gender %>
</p>

<p>
	<b>Race:</b>
	<%=h @animal.race %>
</p>

<p>
	<b>Practitioner:</b>
	<%=h @animal.practitioner %>
</p>

<p>
	<b>Notes:</b>
	<%=h @animal.notes %>
</p>


<br />

<%= edit_link edit_animal_path(@animal) %>
