<h1>Client Sign in</h1>

<%= knoxy_form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: :login }) do |f| %>
  <fieldset>
    <%= f.input :email %>
    <%= f.input :password %>

    <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me %>
    <% end -%>

    <div class="actions submit-actions">
      <%= f.submit "Sign in" %><br />
    </div>
    <div class="signin-links">
      <%= render partial: "devise/shared/links" %>
    </div>
  </fieldset>
<% end -%>
