<p>
	Welcome <%= current_user.login %>!!
</p>

<h1>Pending Experiments</h1>
<table class="list">
	<tr>
		<th>Name</th>
		<th>Perform on</th>
		<th colspan="3">Actions</th>
	</tr>

	<% for experiment in @experiments %>
	<tr class="<%= cycle('odd', 'even') %>">
		<td><%=h experiment.name %></td>
		<td><%=h experiment.perform_on %></td>
		<td><%= show_link [experiment.sample, experiment] %></td>
		<td><%= edit_link edit_sample_experiment_path(experiment.sample, experiment) %></td>
		<td><%= destroy_link [experiment.sample, experiment] %></td>
	</tr>
	<% end %>
</table>
