<%= render_form_errors(@meal) %>
<%= knoxy_form_for( [ @test_subject, @meal ] ) do |f| %>
  <fieldset>
    <%= f.input :amount, label: 'Amount consumed (kg)' %>
    <%= f.association :diet %>
    <%= f.input :consumed_during_period %>
    <%= f.input :consumed_on_day %>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end -%>
