<h1>Listing meals for <%= TestSubject.title %> <%= @test_subject.code %></h1>

<table class="list">
  <tr>
    <th><%= TestSubject.title %></th>
    <th>Diet</th>
    <th>Amount (kg)</th>
    <th>Period</th>
    <th>Day</th>
  </tr>

<% @meals.each do |meal| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= link_to meal.test_subject.code, test_subject_path(meal.test_subject) %></td>
    <td><%= link_to meal.diet.name, diet_path(meal.diet) %></td>
    <td><%= meal.amount %></td>
    <td><%= meal.consumed_during_period %></td>
    <td><%= meal.consumed_on_day %></td>
    <td><%= show_link test_subject_meal_path(@test_subject, meal) %></td>
    <td><%= edit_link edit_test_subject_meal_path(@test_subject, meal) %></td>
    <td><%= destroy_link test_subject_meal_path(@test_subject, meal) %></td>
  </tr>
<% end %>

</table>

<br />

<%= new_link "meal for #{TestSubject.title} #{@test_subject.code}", new_test_subject_meal_path(@test_subject) %>