<h1>Meal for test_subject <%= @test_subject.code %></h1>

<p>
	<b>Test Subject:</b>
	<%= link_to h(@meal.test_subject.code), test_subject_path(@meal.test_subject) %>
</p>

<p>
	<b>Diet:</b>
	<%= link_to h(@meal.diet.name), diet_path(@meal.diet) %>
</p>

<p>
	<b>Amount:</b>
	<%=h @meal.amount %> kg
</p>

<p>
	<b>Consumed During Period:</b>
	<%=h @meal.consumed_during_period %>
</p>

<p>
	<b>Consumed On Day:</b>
	<%=h @meal.consumed_on_day %>
</p>


<%= edit_link edit_test_subject_meal_path(@test_subject, @meal) %>