<h1>Meal for <%= TestSubject.title %> <%= @test_subject.code %></h1>

<p>
	<b><%= TestSubject.title %>:</b>
	<%= link_to h(@meal.test_subject.code), test_subject_path(@meal.test_subject) %>
</p>

<p>
	<b>Diet:</b>
	<%= link_to h(@meal.diet.name), diet_path(@meal.diet) %>
</p>

<p>
	<b>Amount:</b>
	<%= @meal.amount %> kg
</p>

<p>
	<b>Consumed During Period:</b>
	<%= @meal.consumed_during_period %>
</p>

<p>
	<b>Consumed On Day:</b>
	<%= @meal.consumed_on_day %>
</p>


<%= link_to_edit edit_test_subject_meal_path(@test_subject, @meal) %>
