<div class="nested-field" style="display: <%= f.object.send('_destroy') ? 'none' : 'block' %>">
  <%= remove_child_link "remove", f %>
  <%= f.file_field :data %>
  <%= f.select :data_file_type_id, DataFileType.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true }, 
                :class => "file-type-select" %>
  <div class="has-concentrations" style="display:none">
    <%= f.check_box :has_concentrations, :label => 'Import concentration data?' %>
    (<%= link_to 'File Format Information', '/file_format.html', :target => '_blank' %>)
    <%= f.select :has_concentration_units, [ "uM", "mmol / mol creatinine" ] %>
  </div>
  <%= f.text_area :description %>
</div>
