<h1><%= title 'New Experiment' %></h1>

<p class="info">
  <%= image_tag 'info.png', class: 'info-logo' %>
  The experiment workflow allows you to enter all the information for an experiment. You can attach raw data files or concentration data, assign this experiment to a particular individual, and enter the protocol used to perform the analysis.
</p>

<%= knoxy_form_for [ :workflows, setup_workflow_experiment(@experiment) ], html: { multipart: true } do |f| %>
  <% flash.now[:error] = "#{pluralize(@experiment.errors.count, "error")} prohibited this experiment from being saved" if @experiment.errors.any? %>

  <fieldset>
    <legend>Sample Details</legend>

    <% if @experiment.sample.present? %>
      <% @sample = @experiment.sample %>
      <%= render partial: '/workflows/samples/sample' %>
      <%= f.hidden_field :sample_id %>
    <% else %>

      <div id="patient-selector">
        <%= f.inner_field :test_subject, label: "#{TestSubject.title} Code", id: 'dfdf' do %>
          <%= text_field_tag :test_subject_code, nil,
              class: 'test-subject-autocomplete', :'data-source' => workflows_patients_path(format: :json),
              :'data-update' => 'test-subject-id', placeholder: 'Start typing a patient code',
              id: 'test-subject-autocomplete-code' %>
          <%= hidden_field_tag :test_subject_id, nil, id: 'test-subject-id', :'data-sample-update' => 'sample-id'  %>
          <span class="actions">
            <%= link_to 'Add New Patient', new_workflows_patient_path, id: 'open-patient-dialog' %>
          </span>
        <% end -%>
      </div>

      <div id="sample-selector" style="display:none">
        <%= f.inner_field :sample do %>
          <%= f.select :sample_id, options_for_workflow_sample(@experiment.test_subject_code), { inner: true },
                         include_blank: true, id: 'sample-id'  %>
          <span class="actions">
            <%= link_to 'Add New Sample', new_workflows_sample_path, id: 'open-sample-dialog' %>
          </span>
        <% end -%>

        <%= f.text_field :amount_used, size: 5 %>
        <%= f.select :amount_used_unit, volume_unit_options %>
        <%= error_message(Experiment.human_attribute_name(:amount_used_unit), f.object.errors[:amount_used_unit]) %>
      </div>
      <div id="sample-added-show"></div>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Experiment Description</legend>
    <%= f.input :name, style: "width: 250px", required: true %>
    <%= error_message(Experiment.human_attribute_name(:name), f.object.errors[:name]) %>

    <%= f.input :protocol_id, collection: Protocol.all, include_blank: true %>
    <%= error_message(Experiment.human_attribute_name(:protocol_id), f.object.errors[:protocol_id]) %>

    <%= f.input :experiment_type_id, collection: ExperimentType.all, include_blank: true %>
    <%= error_message(Experiment.human_attribute_name(:experiment_type_id), f.object.errors[:experiment_type_id]) %>

    <%= f.input :description %>
    <%= error_message(Experiment.human_attribute_name(:description), f.object.errors[:description]) %>

    <%= f.input :comments %>
    <%= error_message(Experiment.human_attribute_name(:comments), f.object.errors[:comments]) %>
  </fieldset>

  <fieldset>
    <legend>Analysis</legend>
    <%= f.inner_field_group :assigned_to_id do %>
      <%= f.input :assigned_to_id, collection: User.order(:name), include_blank: true %>
      on
      <%= f.input :perform_on, class: 'datepicker' %>
    <% end -%>
    <%= f.inner_field_group :performed_by_id do %>
      <%= f.input :performed_by_id, collection: User.order(:name), include_blank: true %>
      on
      <%= f.input :performed_on, class: 'datepicker' %>
    <% end -%>
  </fieldset>

  <fieldset id="data_files" class="fields-for">
    <legend>Data files</legend>

    <%= f.full_field_group :data_files do %>
      <%= f.fields_for :data_files do |data_files_form| %>
        <%= render 'data_file', f: data_files_form %>
      <% end %>
      <div><%= add_child_link f, :data_files, partial: 'data_file', name: 'Add Data File' %></div>
    <% end -%>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end %>
