<% content_for :css do %>
  <%= stylesheet_link_tag 'workflows' %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'workflows' %>
  <script type="text/javascript">
    $().ready(function() {
      $.ajax("<%= new_workflows_patient_path :format => :js %>");
      
      $('#experiment_sample_attributes_test_subject_code').autocomplete('<%= workflows_patients_path %>', {
        selectFirst: false
      });
      $('#experiment_sample_attributes_test_subject_code').result(function(event, data, formatted) {
        find_samples("<%= workflows_samples_path :format => :js %>", formatted);
      });
      $('#experiment_sample_attributes_test_subject_code').change(function() {
        find_samples("<%= workflows_samples_path :format => :js %>", $('#experiment_sample_attributes_test_subject_code').val());
      });
    });
  </script>
<% end %>

<h1>New Experiment</h1>

<%= form_for [:workflows, setup_workflow_experiment(@experiment)], :html => { :multipart => true, :autocomplete => false } do |f| %>
  <%= f.error_messages %>
  
  <fieldset>
    <legend>Sample Details</legend>
    <%= f.fields_for :sample do |sample_form| %>
      <div class="field">
        <%= sample_form.label :test_subject_code %>
        <%= sample_form.text_field :test_subject_code %>
        <%= link_to 'New patient', '#', :onclick => 'javascript:new_patient(); return false;' %>
      </div>
    <% end %>
    <div id="workflow-patient" style="display: none;"></div>
    <div class="field">
      <%= f.label :sample_id %>
      <%= f.select :sample_id, (@experiment.sample.test_subject.nil? ? [] : @experiment.sample.test_subject.samples.collect { |ts| [ts.to_s, ts.id] }), :include_blank => true %>
      <%= link_to 'New sample', '#', :onclick => 'javascript:new_sample(); return false;' %>
    </div>
    <div id="workflow-sample" style="display: none;">You must choose a valid patient first</div>
    <div class="field">
      <%= f.label :amount_used %>
      <%= f.text_field :amount_used, :size => 5 %> 
      <%= f.select :amount_used_unit, volume_unit_options, :include_blank => true %>
    </div>
  </fieldset>
  
  <fieldset>
    <legend>Experiment Description</legend>
    <div class="field">
      <%= f.label :name, "#{Experiment.human_attribute_name(:name)}#{required}".html_safe %>
      <%= f.text_field :name, :style => "width: 250px" %>
    </div>
    <div class="field">
      <%= f.label :protocol %>
      <%= f.select :protocol_id, Protocol.all.collect {|p| [ "#{p.name} (version #{p.version})", p.id ] }, :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :experiment_type_id, "#{Experiment.human_attribute_name(:experiment_type_id)}#{required}".html_safe %>
      <%= f.select :experiment_type_id, ExperimentType.all.collect {|p| [ p.name, p.id ] }, :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, :style => "width: 350px; height: 70px" %>
    </div>
    <div class="field">
      <%= f.label :comments %><br />
      <%= f.text_area :comments, :style => "width: 350px; height: 70px" %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Analysis</legend>
    <% user_options = User.find(:all, :order => 'name ASC').collect { |u| [ u.name, u.id ] } %>
    <div class="field">
      <%= f.label :assigned_to_id %>
      <%= f.select :assigned_to_id, user_options, :include_blank => true %> 
      on <%= f.date_select :perform_on, :include_blank => true %>
    </p>
    <div class="field">
      <%= f.label :performed_by_id %>
      <%= f.select :performed_by_id, user_options, :include_blank => true %>
      on <%= f.date_select :performed_on, :no_label => true, :include_blank => true %>
    </div>
  </fieldset>
  
  <fieldset id="data_files" class="fields-for">
    <legend>Data files</legend>  
    <div class="actions">
      <%= add_link_for_new_fields_for f, :data_file %>
    </div>

    <%= f.fields_for :data_files do |data_file_form| %>
			<%= render :partial => 'data_file', :locals => { :f => data_file_form } %>
 		<% end %>
  </fieldset>
  
  <%= f.submit %>
<% end %>
