<% title 'Home' %>
<h1>Welcome to Metaboflo</h1>
<p>
	Welcome to the Metaboflo Laboratory Information Management System (LIMS).
	Metaboflo is a central repository for study management and metabolomics scientific information.<br />
</p>

<table class="list stats">
  <tr class="header">
    <th colspan="2">General Statistics</th>
  </tr>
  <% @stats.each do |stat| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= stat.first %></td>
    <td><%= stat.last %></td>
  </tr>
  <% end %>
</table>

<% if @incomplete_tasks.length > 0 %>
<p>
	<strong>You have <%= link_to "#{@incomplete_tasks.length} incomplete task(s)", user_tasks_path(current_user) %> (out of a total of <%= current_user.tasks.length %>)</strong>
</p>
<% end -%>
<br />

<h1>Pending Experiments Assigned to <i><%= current_user.name %></i></h1>
<% if @experiments.length > 0 %>
  <table class="list">
  	<tr>
  		<th>Name</th>
  		<th>Due date</th>
  		<th colspan="3">Actions</th>
  	</tr>

  	<% @experiments.each do |experiment| %>
  	<tr class="<%= cycle('odd', 'even') %>">
  		<td><%= experiment.name %></td>
  		<td><%= experiment.perform_on %></td>
  		<td><%= link_to_show [experiment.sample, experiment] %></td>
  		<td><%= link_to_edit edit_sample_experiment_path(experiment.sample, experiment) %></td>
  		<td><%= link_to_destroy [experiment.sample, experiment] %></td>
  	</tr>
  	<% end %>
  </table>
<% else %>
  No pending experiments at this time.
<% end %>
