<%= render_form_errors(@test_subject_evaluation) %>
<%= knoxy_form_for([@test_subject, @test_subject_evaluation]) do |f| %>
  <fieldset>
    <legend>Evaluation Details</legend>
    <%= f.input :evaluated_on, label: 'Evaluation date', class: 'datepicker' %>
    <%= f.input :diagnosis %>
  </fieldset>

  <fieldset>
    <legend><%= TestSubject.title %> Personal Details</legend>
    <%= f.input :education %>
    <%= f.input :marital_status, collection: ['Single', 'Married', 'Separated', 'Divorced', 'Widowed'], include_blank: true %>
    <%= f.input :num_children, label: 'Number of children' %>
    <%= f.input :address, label: 'Address 1' %>
    <%= f.input :address_2 %>
    <%= f.input :city %>
    <%= f.input :province_state %>
    <%= f.input :country, collection: ['Canada', 'United States'], include_blank: true %>
    <%= f.input :postal_zip_code, label: 'Postal/Zip code' %>
  </fieldset>

  <fieldset>
    <legend>Health Profile</legend>
    <%= f.input :height, label: 'Height (inches)' %>
    <%= f.input :weight, label: 'Weight (lbs)' %>

    <%= f.input :current_smoker, label: "#{TestSubject.title} is a smoker?" %>
    <%= f.input :past_smoker, label: 'If quit, how long ago (years)?' %>
    <%= f.input :drinking_weekly, label: 'Average alcohol intake (drinks per week)' %>
    <%= f.input :exercise_weekly, label: 'Average level of excercise (days per week)' %>
    <%= f.input :hours_sleep, label: 'Average sleep (hours per night)' %>
    <%= f.input :enough_sleep, label: "#{TestSubject.title} feels they get enough sleep?" %>
  </fieldset>

  <fieldset>
    <legend>Past medical history</legend>
    <%= f.input :past_medical, as: :check_boxes, collection: medical_history_list.sort, per_row: 4 %>
  </fieldset>

  <fieldset>
    <legend>Symptoms</legend>
    <%= f.input :symptoms, as: :check_boxes, collection: symptoms_list.sort, per_row: 2 %>
  </fieldset>

  <fieldset>
    <legend>Family History</legend>

    <%= f.inner_field_group :parents do -%>
      <% ['father', 'mother'].each do |parent| %>
        <% living = @test_subject_evaluation.send("#{parent}_death_age").blank? %>
          <%= label_tag "#{parent}_living", "#{parent.titlecase} is alive?" %>
          <%= check_box_tag "#{parent}_living", nil, living, onclick: "$('#{parent}_living_inputs').toggle(); $('#{parent}_dead_inputs').toggle()" %>

        <div id="<%= parent %>_living_inputs" style="display: <%= living ? 'block' : 'none' %> ">
          <%= f.input "#{parent}_age", label: 'Age' %>
          <%= f.input "#{parent}_health", label: 'Health status' %>
        </div>
        <div id="<%= parent %>_dead_inputs" style="display: <%= !living ? 'block' : 'none' %>;">
          <%= f.input "#{parent}_death_age", label: "Age at death" %>
          <%= f.input "#{parent}_death_cause", label: "Cause of death" %>
        </div>
      <% end %>
    <% end -%>
    <%= f.input :relative_condition %>
    <%= f.input :relative_relationship %>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end -%>
