<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>Tube ID</th>
			<th>Species</th>
			<th>Biofluids</th>
			<th>Experimental <br /> Group #</th>
			<th>Sample <br /> Volume</th>
			<th>Units</th>
			<%= render :partial => "clients/sample_manifests/manifests/module_headings" %>
			<% if barcode_description %>
				<th>Barcode <br/> Description</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
	<% samples.each do |s|%>
		<tr>
			<td><%= s.tube_id %></td>
			<td><%= s.species %></td>
			<td><%= s.matrix %></td>
			<td><%= s.group_id %></td>
			<td><%= s.sample_volume %></td>
			<td><%= s.volume_units %></td>
			<%= render :partial => "clients/sample_manifests/manifests/module_tests", :locals => {:s => s} %>
			<% if barcode_description %>
				<td><%= text_field_tag(s.barcode, nil, :placeholder => 'Decscription', :size => 20) %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
