<div class="cell_sample_manifest fields box">
  <div class="manifest-remover">
    <%= my_remove_child_link("Remove", f) %>
  </div>
  <table>
  	<tr>
  		<td><%= f.label :tube_id %>:</td><td><%= f.text_field :tube_id, :size => 3%></td>
  		<td><%= f.label :barcode %>:</td><td><%= f.text_field :barcode, :size => 20, :disabled => true %></td>
  		<td><%= f.label :species %>:</td><td><%= f.text_field :species, :size => 15 %></td>
  	</tr>
  	<tr>
  		<td><%= f.label :cell_line %>:</td><td><%= f.text_field :cell_line, :size => 15 %></td>
  		<td><%= f.label :viable_cells %>:</td><td><%= f.text_field :viable_cells, :size => 15 %></td>
  		<td><%= f.label :group_id %>:</td><td><%= f.text_field :group_id, :size => 2 %></td>
  	</tr>
  	<tr>
  		<td><%= f.label :test_codes %>:</td>
  		<td colspan=5>
        <%= render :partial => "clients/sample_manifests/manifests/module_options", :locals => { :f => f } %>
   		</td>
  	</tr>
  </table>
</div>