<table class="table table-bordered table-hover table-striped">
	<thead >
		<tr>
			<th>Tube ID</th>
			<th>Species</th>
			<th>Tissue</th>
			<th>Experimental <br /> Group #</th>
			<th>Tissue <br /> Weight</th>
			<th>Units</th>
			<%= render :partial => "clients/sample_manifests/manifests/module_headings" %>
		</tr>
	</thead>
	<tbody>
		<% samples.each do |s|%>
		<tr>
			<td><%= s.tube_id %></td>
			<td><%= s.species %></td>
			<td><%= s.matrix %></td>
			<td><%= s.group_id %></td>
			<td><%= s.tissue_weight %></td>
			<td><%= s.weight_units %></td>
			<%= render :partial => "clients/sample_manifests/manifests/module_tests", :locals => {:s => s} %>
		</tr>
		<% end %>
	</tbody>
</table>
