<%= knoxy_form_for @test_subject do |f| %>
  <fieldset>
    <legend>Patient Identification</legend>
    <%= f.text_field :code %>
    <%= f.select :site_id, Site.order('name asc').collect { |s| [ s.name, s.id ] }, :include_blank => true %>
  </fieldset>

  <fieldset>
    <legend>Patient Personal Details</legend>
      <%= f.text_field :birthdate, :class => 'datepicker' %>
      <%= f.select :blood_type, ['A', 'B', 'O', 'AB'], :include_blank => true %>
      <%= f.select :gender, ['Male', 'Female'], :include_blank => true %>
      <%= f.select :race, ['Caucasian (White)', 'Black', 'Hispanic', 'Asian', 'Native Indian', 'Multiracial', 'Unknown', 'Not available'], :include_blank => true %>
  </fieldset>

  <fieldset>
    <legend>Practitioner Notes</legend>
    <%= f.text_field :practitioner %>
    <%= f.text_area :notes %>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end -%>