<%= render_form_errors(@test_subject) %>
<%= knoxy_form_for @test_subject do |f| %>
  <fieldset>
    <legend>Patient Identification</legend>
    <%= f.input :code %>
    <%= f.association :site, include_blank: true %>
  </fieldset>

  <fieldset>
    <legend>Patient Personal Details</legend>
      <%= f.input :birthdate, class: 'datepicker' %>
      <%= f.input :blood_type, collection: ['A', 'B', 'O', 'AB'], include_blank: true %>
      <%= f.input :gender, collection: ['Male', 'Female'], include_blank: true %>
      <%= f.input :race, collection: ['Caucasian (White)', 'Black', 'Hispanic', 'Asian', 'Native Indian', 'Multiracial', 'Unknown', 'Not available'], include_blank: true %>
  </fieldset>

  <fieldset>
    <legend>Practitioner Notes</legend>
    <%= f.input :practitioner %>
    <%= f.input :notes %>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end -%>
