<h1>Showing patient <%= @test_subject %></h1>

<p>
  <b>Code:</b>
  <%=h @test_subject.code %>
</p>

<p>
	<b>Site:</b>
	<%=h @test_subject.site.name %>
</p>

<p>
  <b>Birthdate:</b>
  <%=h @test_subject.birthdate %>
</p>

<p>
	<b>Blood type:</b>
	<%=h @test_subject.blood_type %>
</p>

<p>
  <b>Gender:</b>
  <%=h @test_subject.gender %>
</p>

<p>
	<b>Race:</b>
	<%=h @test_subject.race %>
</p>

<p>
	<b>Practitioner:</b>
	<%=h @test_subject.practitioner %>
</p>

<p>
	<b>Notes:</b>
	<%=h @test_subject.notes %>
</p>


<br />

<%= edit_link edit_test_subject_path(@test_subject) %>
