<%= render_form_errors(@protocol) %>
<%= knoxy_form_for(@protocol, :html => { :multipart => true }) do |f| %>
  <fieldset style="width: 50%">
    <legend>Protocol Details</legend>
    <%= f.text_field :name, :required => true %>
    <%= f.text_field :version, :size => 5 %>
    <%= f.text_area :comments %>
    <%= f.file_field :storage, :label => 'File', :required => true %>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end -%>