<%= render_form_errors(@protocol) %>
<%= knoxy_form_for(@protocol) do |f| %>
  <fieldset style="width: 50%">
    <legend>Protocol Details</legend>
    <%= f.input :name, required: true %>
    <%= f.input :version, size: 5 %>
    <%= f.input :comments %>
    <%= f.input :storage, label: 'File', required: true %>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end -%>
