<p>
  <b>Name:</b>
  <%=h @protocol.name %>
</p>

<p>
  <b>Version:</b>
  <%=h @protocol.version %>
</p>

<p>
  <b>Comments:</b>
  <%=h @protocol.comments %>
</p>

<p>
  <b>Document:</b>
  <%= link_to h(@protocol.filename), @protocol.public_filename %>
</p>


<%= edit_link edit_protocol_path(@protocol) %>
