<p>
  <b>Name:</b>
  <%= @protocol.name %>
</p>

<p>
  <b>Version:</b>
  <%= @protocol.version %>
</p>

<p>
  <b>Comments:</b>
  <%= @protocol.comments %>
</p>

<p>
  <b>Document:</b>
  <%= link_to h(@protocol.storage_file_name), @protocol.storage.url %>
</p>


<%= link_to_edit edit_protocol_path(@protocol) %>
