<%= form.error_messages %>

<fieldset>
  <legend>Evaluation Details</legend>
  <p><%= form.date_select :evaluated_on, :label => 'Evaluation date', :order => [ :month, :day, :year ], :include_blank => true %></p>
  <p><%= form.text_area :diagnosis %></p>
</fieldset>

<fieldset>
  <legend>Patient Personal Details</legend>
  <p><%= form.text_field :education %></p>
  <p><%= form.select :marital_status, ['Single', 'Married', 'Separated', 'Divorced', 'Widowed'], :include_blank => true %></p>
  <p><%= form.text_field :num_children, :size => 5, :label => 'Number of children' %></p>
  <p><%= form.text_field :address, :style => 'margin-bottom: 0.5em' %><br /><%= form.text_field :address_2, :no_label => true %></p>
  <p><%= form.text_field :city %></p>
  <p><%= form.text_field :province_state, :size => 8 %></p>
  <p><%= form.country_select :country, ['Canada', 'United States'], :include_blank => true %></p>
  <p><%= form.text_field :postal_zip_code, :label => 'Postal/Zip code' %></p>
</fieldset>

<fieldset>
  <legend>Health Profile</legend>
  <p><%= form.text_field :height, :size => 5 %> inches</p>
  <p><%= form.text_field :weight, :size => 5 %> lbs</p>
  <p><%= form.check_box :current_smoker, :label => 'Patient is a smoker?', :onclick => "$('smoker_length').toggle()" %></p>
  <p id="smoker_length"><%= form.text_field :past_smoker, :size => 4, :label => 'If quit, how long ago?' %> years</p>
  <p><%= form.text_field :drinking_weekly, :size => 4, :label => 'Average alcohol intake' %> drinks per week</p>
  <p><%= form.text_field :exercise_weekly, :size => 4, :label => 'Average level of excercise' %> days per week</p>
  <p><%= form.text_field :hours_sleep, :size => 4, :label => 'Average sleep' %> hours per night</p>
  <p><%= form.check_box :enough_sleep, :label => 'Patient feels they get enough sleep?' %></p>
</fieldset>

<fieldset>
  <legend>Past medical history</legend>
  <p><%= form.check_box_group(:past_medical, medical_history_list, :per_row => 4) %></p>
</fieldset>

<fieldset>
  <legend>Symptoms</legend>
  <p><%= form.check_box_group(:symptoms, symptoms_list, :per_row => 2) %></p>
</fieldset>

<fieldset>
  <legend>Family History</legend>

  <% ['father', 'mother'].each do |parent| %>
  <% living = @patient_evaluation.send("#{parent}_death_age").blank? %>
  <p>
    <%= label_tag "#{parent}_living", "#{parent.titlecase} is alive?" %>
    <%= check_box_tag "#{parent}_living", nil, living, :onclick => "$('#{parent}_living_inputs').toggle(); $('#{parent}_dead_inputs').toggle()" %>
  </p>

  <div id="<%= parent %>_living_inputs" style="display: <%= living ? 'block' : 'none' %> ">
    <p><%= form.text_field "#{parent}_age", :label => 'Age' %></p>
    <p><%= form.text_field "#{parent}_health", :label => 'Health status' %></p>
  </div>
  <div id="<%= parent %>_dead_inputs" style="display: <%= !living ? 'block' : 'none' %>;">
    <p><%= form.text_field "#{parent}_death_age", :label => "Age at death" %></p>
    <p><%= form.text_field "#{parent}_death_cause", :label => "Cause of death" %></p>
  </div>
  <% end %>

  <p><%= form.text_field :relative_condition %></p>
  <p><%= form.text_field :relative_relationship %></p>
</fieldset>