<h2>Patient Details</h2>
<p>
  <%= f.label :diagnosis %><br />
  <%= f.text_area :diagnosis, :cols => 70, :rows => 10 %>
</p>

<p>
  <%= f.label :height %><br />
  <%= f.text_field :height %> inches
</p>
<p>
  <%= f.label :weight %><br />
  <%= f.text_field :weight %> lbs
</p>
<p>
	<%= f.label :education %><br />
	<%= f.text_field :education %>
</p>
<p>
	<%= f.label :marital_status %><br />
	<%= f.select :marital_status, ['Single', 'Married', 'Separated', 'Divorced', 'Widowed'], :include_blank => true %>
</p>
<p>
	<%= f.label :address %><br />
	<%= f.text_field :address %>
</p>
<p>
	<%= f.label :address_2 %><br />
	<%= f.text_field :address_2 %>
</p>
<p>
	<%= f.label :city %><br />
	<%= f.text_field :city %>
</p>
<p>
	<%= f.label :province_state, 'Province/State' %><br />
	<%= f.text_field :province_state %>
</p>
<p>
	<%= f.label :country %><br />
	<%= f.country_select :country, nil, :include_blank => true %>
</p>
<p>
	<%= f.label :postal_zip_code, 'Postal/Zip code' %><br />
	<%= f.text_field :postal_zip_code %>
</p>
<p>
  <%= f.label :current_smoker, 'Smoker' %>
  <%= f.check_box :current_smoker %>
  <%= f.label :past_smoker, 'If quit, how long ago?' %>
  <%= f.text_field :past_smoker %>
</p>
<p>
  <%= f.label :drinking_weekly, 'Number of alcoholic drinks per week' %><br />
  <%= f.text_field :drinking_weekly %>
</p>
<p>
  <%= f.label :exercise_weekly, 'Amount of exercise per week' %><br />
  <%= f.text_field :exercise_weekly %> days
</p>
<p>
  <%= f.label :hours_sleep, 'Hours of sleep nightly' %><br />
  <%= f.text_field :hours_sleep %>
</p>
<p>
  <%= f.check_box :enough_sleep %>
  <%= f.label :enough_sleep, 'Patient feels they get enough sleep' %>
</p>

<p>
  <%= f.label :past_medical, 'Past medical history' %><br />
  <%= check_boxes(4, "patient_evaluation[past_medical][]", medical_history_list, @patient_evaluation.past_medical) %>
</p>

<p>
  <%= f.label :symptoms, 'Symptoms' %><br />
  <%= check_boxes(3, "patient_evaluation[symptoms][]", symptoms_list, @patient_evaluation.symptoms) %>
</p>

<h2>Family History</h2>

<table border=1 cellpadding=5 cellspacing=5 style="margin-left: 1em">
	<tr><th>&nbsp;</th><th>If Living</th><th>If Dead</th></tr>
	<tr><td>Father</td><td><%= f.label :father_age, "Age" %> <%= f.text_field :father_age %><br> <%= f.label :father_health, "Health" %> <%= f.text_field :father_health %></td><td><%= f.label :father_death_age, "Age at death" %> <%= f.text_field :father_death_age %><br><%= f.label :father_death_cause, "Cause" %> <%= f.text_field :father_death_cause %></td></tr>
	<tr><td>Mother</td><td><%= f.label :mother_age, "Age" %> <%= f.text_field :mother_age %><br> <%= f.label "Health" %> <%= f.text_field :mother_health %></td><td><%= f.label :mother_death_age, "Age" %> <%= f.text_field :mother_death_age %><br><%= f.label :mother_death_cause, "Cause" %> <%= f.text_field :mother_death_cause %></td></tr>
</table>

<p>
  <%= f.label :num_children, 'Number of children' %><br />
  <%= f.text_field :num_children %>
</p>
<p>
  <%= f.label :relative_condition %><br />
  <%= f.text_field :relative_condition %>
</p>
<p>
  <%= f.label :relative_relationship %><br />
  <%= f.text_field :relative_relationship %>
</p>
<p>
  <%= f.label :evaluated_on, 'Date evaluated on' %><br />
  <%= f.text_field :evaluated_on %>
</p>