<h1>All Animal Evaluations for Animal '<%= @animal.code %>'</h1>

<% for animal_evaluation in @animal_evaluations %>
  <table class="summary">

    <tr><td><%= h animal_evaluation.evaluated_on %></td><td><%= show_link animal_animal_evaluation_path(@animal, animal_evaluation) %> | <%= edit_link edit_animal_animal_evaluation_path(@animal, animal_evaluation) %> | <%= destroy_link animal_animal_evaluation_path(@animal, animal_evaluation) %></td></tr>

  	<tr><td>Diagnosis:</td><td><%=h animal_evaluation.diagnosis %></td></tr>
  	
  	<tr><td>BMI:</td><td><%=h BMI(animal_evaluation.height, animal_evaluation.weight) %></td></tr>
  	
  	<tr><td>Symptoms:</td><td><%=h animal_evaluation.symptoms.join(', ') %></td></tr>
  	
  </table>
  <br>
<% end %>

<br />

<%= new_link 'animal evaluation', new_animal_animal_evaluation_path(@animal) %>
