<!--
TODO: relatives / conditions
TODO: Past medical history
-->
<p>
  <b>Diagnosis:</b>
  <%=h @patient_evaluation.diagnosis %>
</p>

<p>
  <b>Current smoker:</b>
  <%=h boolean_to_english(@patient_evaluation.current_smoker) %>
</p>

<% if !@patient_evaluation.current_smoker and @patient_evaluation.past_smoker != -1 %>
	<p>
  		<b>Quit smoking:</b>
  		<%=h @patient_evaluation.past_smoker %> years ago
	</p>
<% end %>

<p>
  <b>Alcoholic drinks per week:</b>
  <%=h @patient_evaluation.drinking_weekly %>
</p>

<p>
  <b>Weekly exercise amount:</b>
  <%=h @patient_evaluation.exercise_weekly %>
</p>

<p>
  <b>Hours of sleep nightly:</b>
  <%=h @patient_evaluation.hours_sleep %>
</p>

<p>
  <b>Feels that they get enough sleep nightly:</b>
  <%=h boolean_to_english(@patient_evaluation.enough_sleep) %>
</p>

<p>
  <b>Past medical:</b>
  <%=h @patient_evaluation.past_medical %>
</p>

<hr>

<% if @patient_evaluation.father_death_age == -1 %>
	<p>
	  <b>Father's age:</b>
	  <%=h @patient_evaluation.father_age %>
	</p>

	<p>
	  <b>Father's health:</b>
	  <%=h @patient_evaluation.father_health %>
	</p>
<% else %>
	<p>
	  <b>Father's age at death:</b>
	  <%=h @patient_evaluation.father_death_age %>
	</p>

	<p>
	  <b>Father's cause of death:</b>
	  <%=h @patient_evaluation.father_death_cause %>
	</p>
<% end %>

<% if @patient_evaluation.mother_death_age == -1 %>
	<p>
	  <b>Mother's age:</b>
	  <%=h @patient_evaluation.mother_age %>
	</p>

	<p>
	  <b>Mother's health:</b>
	  <%=h @patient_evaluation.mother_health %>
	</p>
<% else %>
	<p>
	  <b>Mother's age at death:</b>
	  <%=h @patient_evaluation.mother_death_age %>
	</p>

	<p>
	  <b>Mother's cause of death:</b>
	  <%=h @patient_evaluation.mother_death_cause %>
	</p>
<% end %>


<p>
  <b>Number of children:</b>
  <%=h @patient_evaluation.num_children %>
</p>

<p>
  <b>Relative condition:</b>
  <%=h @patient_evaluation.relative_condition %>
</p>

<p>
  <b>Relative relationship:</b>
  <%=h @patient_evaluation.relative_relationship %>
</p>

<p>
  <b>Evaluation performed on:</b>
  <%=h @patient_evaluation.evaluated_on %>
</p>

<br>

<%= link_to 'Edit', edit_patient_patient_evaluation_path(@patient, @patient_evaluation) %> |
<%= link_to 'Back', patient_patient_evaluations_path(@patient) %>
