<h1>Listing diets</h1>

<table class="list">
  <tr>
    <th>Name</th>
		<th colspan="3">Actions</th>
  </tr>

<% for diet in @diets %>
  <tr>
    <td><%=h diet.name %></td>
    <td><%= show_link diet %></td>
    <td><%= edit_link edit_diet_path(diet) %></td>
    <td><%= destroy_link diet %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New diet', new_diet_path %>
