<h1>Listing diets</h1>

<table class="list">
  <tr>
    <th>Name</th>
		<th colspan="3">Actions</th>
  </tr>

<% @diets.each do |diet| %>
  <tr>
    <td><%= diet.name %></td>
    <td><%= link_to_show diet %></td>
    <td><%= link_to_edit edit_diet_path(diet) %></td>
    <td><%= link_to_destroy diet %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to_new 'diet', new_diet_path %>
