<%= render_form_errors(@site) %>

<%= knoxy_form_for(@site) do |f| %>
  <fieldset style="width: 50%">
    <legend>Site Details</legend>
    <%= f.input :name %>
    <%= f.input :website %>
    <%= f.input :map_url, label: 'Google Map Link' %>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end -%>
