<h1>All Sites</h1>

<table class="list">
  <tr>
    <th>Name</th>
	<th># of Users</th>
	<th colspan="3">Actions</th>
  </tr>

<% @sites.each do |site| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= site.name %></td>
	<% if site.users %>
		<td><%= link_to site.users.length, site_users_path(site) %></td>
	<% else %>
		<td>0</td>
	<% end %>
    <td><%= link_to_show site %></td>
    <td><%= link_to_edit edit_site_path(site) %></td>
    <td><%= link_to_destroy site %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to_new 'site', new_site_path %>
