<h1>Study to which <%= @assignable.name %> belongs</h1>

<table class="list">
  <tr>
    <th>Study</th>
		<th colspan="3">Actions</th>
  </tr>

<% @study_cohort_assignments.each do |study_cohort_assignment| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h study_cohort_assignment.cohort.name %></td>
    <td><%= link_to 'Remove', { :action => 'destroy', :id => study_cohort_assignment, "#{@assignable_type.tableize.singularize}_id" => @assignable }, { :confirm => 'Are you sure?', :method => :delete } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Add #{humanized_type @assignable_type} to Study", { :action => 'new', "#{@assignable_type.tableize.singularize}_id" => @assignable }, :class => 'icon icon-add' %>
