<h1>Add <%= humanized_type @assignable_type %> to a group</h1>

<%= form_for([@assignable, @grouping_assignment]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :grouping_id %><br />
    <%= f.select :grouping_id, "#{@assignable_type}Grouping".constantize.all.collect { |c| [ c.name, c.id ] } %>
  </p>
	
  <p>
    <%= f.submit "Add to Group" %>
  </p>
<% end %>