<%= link_to 'Samples', parent.kind_of?(Patient) ? patient_samples_path(parent) : sample_samples_path(parent) %>
<ul>
	<li><%= link_to 'Create new sample', parent.kind_of?(Patient) ? new_patient_sample_path(parent) : new_sample_sample_path(parent), :class => 'create' %></li>
	<% parent.samples.each do |sample| -%>
	<li class="sample">
		<%= link_to "Sample #{sample.id}", sample.sample ? sample_sample_path(sample.sample, sample) : patient_sample_path(@patient, sample) %>
		<ul>
			<li class="sample"><%= render :partial => '/layouts/samples_hierarchy', :locals => { :parent => sample } %></li>
			<li class="report"><%= render :partial => '/layouts/experiments_hierarchy', :locals => { :sample => sample } %></li>
		</ul>
	</li>
	<% end -%>
</ul>
