<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Metaboflo: <%= yield(:title) %></title>

  <%= stylesheet_link_tag 'yui', 'menu', 'application', 'clients', 'tree', 'jquery-ui-1.8.13.custom' %>
  <%= yield :css %>
  
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'yahoo-dom-event', 'container_core', 'menu', 'tree', 'jquery-ui-1.8.13.custom.min' %>
  
  <!-- Include YUI patches to fix scrolling issue -->
  <%= javascript_include_tag 'overlay_patch', 'menu_patch' %>

  <%= yield :javascript %>

  <script type="text/javascript">
  // Initialize and render the MenuBar when its elements are ready to be scripted.
  YAHOO.util.Event.onContentReady("navbar", function () {
    var oMenuBar = new YAHOO.widget.MenuBar("navbar", { autosubmenudisplay: true, hidedelay: 650, lazyload: true });
    oMenuBar.render();
  });
  </script>
  <%= csrf_meta_tag %>
</head>
<body class="yui-skin-sam">
  <% sidebar = !@test_subject.nil? && !@test_subject.new_record? %>

  <div id="doc3" <%= 'class="yui-t3"'.html_safe if sidebar %>> 
    <div id="hd"><!-- header -->
      <div id="headerbar">
        <%= image_tag "banner_left.jpg", :style => 'float: left' %>
        <%= image_tag "banner_right.png", :style => 'float: right' %>
      </div>

      <% if current_client %>
      <div id="navbar" class="yuimenubar yuimenubarnav">
        <div class="bd">
          <ul class="first-of-type">
            <li class="yuimenubaritem first-of-type">
              <%= link_to 'Home', client_root_path, :class => 'yuimenuitemlabel' %>
            </li>
            <li class="yuimenubaritem">
              <%= link_to "Submit New Sample", new_clients_sample_manifest_path, :class => 'yuimenuitemlabel' %>
            </li>
            <li class="yuimenubaritem">
              <%= link_to "My Manifests", clients_sample_manifests_path, :class => 'yuimenuitemlabel' %>
            </li>
            <li class="yuimenubaritem">
              <%= link_to "Order Tracking", clients_samples_path, :class => 'yuimenuitemlabel' %>
            </li>
          </ul> 
        </div>
      </div>
      <% end %>
    </div>  

    <div id="bd"><!-- body -->
      <% if current_client %>
      <div id="logged-in">
        Logged in as <em><%= current_client.to_s %></em> | <%= link_to 'Logout', destroy_user_session_path %>
      </div>
      <% elsif current_client %>
      <div id="logged-in">
        Logged in as <em><%= current_client.to_s %></em> | <%= link_to 'Logout', destroy_client_session_path %>
      </div>
      <% end -%>

      <div class="yui-b"><!-- Navigation block -->
        
        <% if sidebar -%>
        <div id="sidebar">
          <h2><%= TestSubject.title %> Summary</h2>
          <%= test_subject_tree(@test_subject) %>
        </div>
        <% end %>
      </div>

      <div id="yui-main"><!-- Main content block -->
        <div class="yui-b">
          <div id="main">
            <div id="flash">
              <% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end %>
              <% if flash[:error] %><p class="error"><%= flash[:error] %></p><% end %>
              <% if flash[:alert] %><p class="error"><%= flash[:alert] %></p><% end %>
            </div>
            <%= yield  %>
          </div>

        </div> 
      </div> 
    </div>  

    <div id="ft"><!-- footer -->


    </div>  
  </div>

</body>
</html>
