<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <% title = yield(:title) %>
  <title><%= title.present? ? "Metaboflo: #{title}" : 'Metaboflo' %></title>

  <%= stylesheet_link_tag    "application", 'clients' %>
  <%= javascript_include_tag "application" %>

  <%= yield :css %>
  <%= yield :javascript %>

  <script>
    YUI().use('node-menunav', function(Y) {
      var menu = Y.one("#navbar");
      menu.plug(Y.Plugin.NodeMenuNav);
      menu.get("ownerDocument").get("documentElement").removeClass("yui3-loading");
    });
  </script>

  <%= csrf_meta_tag %>
</head>

<body class="yui3-skin-sam">
  <div id="hd"><!-- header -->
    <div id="headerbar">
      <%= image_tag "banner_left.jpg", :class => 'left' %>
      <%= image_tag "banner_right.png", :class => 'right' %>

      <% if client_signed_in? %>
        <div id="logged-in">
          Logged in as <em><%= current_client.to_s %></em> | 
          <%= link_to 'Logout', destroy_client_session_path, :method => :delete %>
        </div>
      <% end -%>
    </div>

    <%= render :partial => "layouts/client_menu" if client_signed_in? %>
  </div>  

  <div class="yui3-g" id="layout">

    <!-- Side bar -->
    <div class="yui3-u" id="sidebar-holder">
      <div id="sidebar">
        <%= yield :sidebar %>        
      </div>
    </div>

    <!-- Main body -->
    <div class="yui3-u" id="main-holder">
      <div id="main">
        <%= render :partial => "layouts/flash" %>
        <%= yield  %>
      </div>
    </div>
  </div>

</body>
</html>