<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Metaboflo: <%= yield(:title) %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <%= yield :css %>
  
  
  <%= yield :javascript %>

  <script>
    YUI().use('node-menunav', function(Y) {
      var menu = Y.one("#navbar");
      menu.plug(Y.Plugin.NodeMenuNav);
      menu.get("ownerDocument").get("documentElement").removeClass("yui3-loading");
    });
  </script>
  <%= csrf_meta_tag %>
</head>

<body class="yui3-skin-sam">
  <div id="hd"><!-- header -->
    <div id="headerbar">
      <%= image_tag "banner_left.jpg", :class => 'left' %>
      <%= image_tag "banner_right.png", :class => 'right' %>

      <% if current_user %>
      <div id="logged-in">Logged in as <em><%= current_user.to_s %></em> | <%= link_to 'Logout', destroy_user_session_path %></div>
      <% elsif current_client %>
      <div id="logged-in">Logged in as <em><%= current_client.to_s %></em> | <%= link_to 'Logout', destroy_client_session_path %></div>
      <% end -%>
    </div>

    <%= render :partial => "layouts/menu" if current_user %>
  </div>  

  <div class="yui3-g" id="layout">

    <!-- Side bar -->
    <div class="yui3-u" id="sidebar-holder">
      <div id="sidebar">
        <% if defined?(@test_subject) && @test_subject.present? && !@test_subject.new_record? %>
          <%= content_for :sidebar do %>
            <h2><%= TestSubject.title %> Summary</h2>
            <div id="subject-tree" data-source="<%= tree_test_subject_path(@test_subject) %>"></div>
          <% end -%>
        <% end -%>
        <%= yield :sidebar %>        
      </div>
    </div>

    <!-- Main body -->
    <div class="yui3-u" id="main-holder">
      <div id="main">
        <div id="flash">
          <% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end %>
          <% if flash[:error] %><p class="error"><%= flash[:error] %></p><% end %>
          <% if flash[:alert] %><p class="error"><%= flash[:alert] %></p><% end %>
        </div>
        <%= yield  %>
      </div>
    </div>
  </div>

</body>
</html>
