<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<div id="container">
	<div id="headerbar">
		<%= image_tag 'logo.gif' %>
	</div>
	<div id="menu">
		<%= link_to 'Patients', patients_path, :class => 'menu' %> |
		<%= link_to 'Samples', samples_path, :class => 'menu' %> |
		<%= link_to 'Experiments', experiments_path, :class => 'menu' %> |
		<%= link_to 'Cohorts', cohorts_path, :class => 'menu' %> |
		<%= link_to 'Admin', admin_path, :class => 'menu' %>
	</div>
	<div id="main">
		<% unless @patient.nil? || @patient.new_record? -%>
		<div id="sidebar">
			<div id="tree">
				<ul>
					<li class="patient"><%= render :partial => '/layouts/patient_hierarchy' %></li>
				</ul>
			</div>
		</div>
		<div id="content">
			<p style="color: green"><%= flash[:notice] %></p>

			<%= yield  %>
		</div>
		<% else -%>
		<p style="color: green"><%= flash[:notice] %></p>

		<%= yield  %>
		<% end -%>
	</div>
	<div id="footerbar">

	</div>
</div>
</body>
</html>
