<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<div id="container">
	<div id="headerbar">
		<%= image_tag 'logo.gif' %>
	</div>
	<div id="menu">
		<%= link_to 'Patients', patients_path, :class => 'menu' %> |
		<%= link_to 'Samples', samples_path, :class => 'menu' %> |
		<%= link_to 'Cohorts', cohorts_path, :class => 'menu' %> |
		<%= link_to 'Data file types', data_file_types_path, :class => 'menu' %>
	</div>
	<div id="main">
		<% unless @patient.nil? || @patient.new_record? -%>
		<div id="sidebar">
			<div id="tree">
			<ul>
				<li class="patient">
					<%= link_to "Patient #{@patient.code}", patient_path(@patient) %>
					<ul>
						<li class="sample">
							<%= link_to 'Samples', patient_samples_path(@patient) %>
							<ul>
								<li><%= link_to 'Create new sample', new_patient_sample_path(@patient), :class => 'create' %></li>
								<% @patient.samples.each do |sample| -%>
								<li class="sample">
									<%= link_to "Sample #{sample.id}", patient_sample_path(@patient, sample) %>
									<ul>
										<li class="report">
											<%= link_to 'Data files', sample_data_files_path(sample) %>
											<ul>
												<li class="report"><%= link_to 'Upload data file', new_sample_data_file_path(sample), :class => 'create' %></li>
												<% sample.data_files.each do |data_file| -%>
												<li class="report"><%= link_to data_file.filename, sample_data_file_path(sample, data_file) %></li>
												<% end -%>
											</ul>
										</li>
									</ul>
								</li>
								<% end -%>
							</ul>
						</li>
					</ul>
					<ul>
						<li class="cohort">
							<%= link_to 'Cohorts', patient_cohort_assignments_path(@patient) %>
							<ul>
								<li class="cohort"><%= link_to 'Add to cohort', new_patient_cohort_assignment_path(@patient), :class => 'create' %></li>
								<% @patient.cohort_assignments.each do |cohort_assignment| -%>
								<li class="cohort"><%= cohort_assignment.cohort.name %></li>
								<% end -%>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			</div>
		</div>
		<div id="content">
			<p style="color: green"><%= flash[:notice] %></p>

			<%= yield  %>
		</div>
		<% else -%>
		<p style="color: green"><%= flash[:notice] %></p>

		<%= yield  %>
		<% end -%>
	</div>
	<div id="footerbar">

	</div>
</div>
</body>
</html>
