<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<h1>Duke LIMS</h1>
<%= link_to 'Patients', patients_path %> |
<%= link_to 'Samples', samples_path %>

<p style="color: green"><%= flash[:notice] %></p>

<% unless @patient.nil? %>
<ul>
	<li>
	<%= link_to "Patient #{@patient.code}", patient_path(@patient) %>
	<ul>
		<% @patient.samples.each do |sample| %>
		<li><%= link_to "Sample #{sample.id}", sample_path(sample) %></li>
		<% end %>
	</ul>
	</li>
</ul>
<% end %>
<%= yield  %>

</body>
</html>
