<table>
	<tr><td><button id="module_1" style="width:600px;text-align:left">Module 1 - Biocrates p180 kit</button></td></tr>
	<tr><td><button id="module_2" style="width:600px;text-align:left">Module 2 - Glycolysis, Krebs (TCA) Cycle and Bioenergetics - LC/MS</button></td></tr>
	<tr><td><button id="module_3" style="width:600px;text-align:left">Module 3 - Amino Acids, Urea cycle and Metabolites - LC/MS</button></td></tr>
	<tr><td><button id="module_4" style="width:600px;text-align:left">Module 4 - Acyl Carnitines - LC/MS</button></td></tr>
	<tr><td><button id="module_5" style="width:600px;text-align:left">Module 5 - Glycolysis, Krebs and the Pentose Cycle - GC/MS</button></td></tr>
	<tr><td><button id="gc_fap" style="width:600px;text-align:left">GC-FAP - GC-FID Fatty acid profiling </button></td></tr>
	<tr><td><button id="ss_1" style="width:600px;text-align:left">SS 1 - Lipogenesis by Deuterated H<sub>2</sub>O</button></td></tr>
	<tr><td><button id="ss_2" style="width:600px;text-align:left">SS 2 - Stable Isotope intraperitoneal glucose tolerance test</button></td></tr>
</table>

<%= render :partial => "/clients/sample_manifests/modules/module_1"%>
<%= render :partial => "/clients/sample_manifests/modules/module_2"%>
<%= render :partial => "/clients/sample_manifests/modules/module_3"%>
<%= render :partial => "/clients/sample_manifests/modules/module_4"%>
<%= render :partial => "/clients/sample_manifests/modules/module_5"%>
<%= render :partial => "/clients/sample_manifests/modules/gc_fap"%>
<%= render :partial => "/clients/sample_manifests/modules/ss_1"%>
<%= render :partial => "/clients/sample_manifests/modules/ss_2"%>
