<h1>Available Tests</h1>
<p class="info">
  <%= image_tag 'info.png', :class => 'info-logo' %>
  Sample preparation and detailed shipping guidelines can be found 
  <%= link_to "here", "/downloads/guidelines_for_all_samples_v1.pdf" %>
</p>
<%= render :partial => 'tests' %>

<h1>Sample Manifest</h1>
<% if @sample_manifest.biofluid_sample_manifests.exists? %>
<%= render :partial => "clients/sample_manifests/manifests/biofluid_sheet", :locals => 
														{:samples => @sample_manifest.biofluid_sample_manifests} %>
<% end %>
<% if @sample_manifest.tissue_sample_manifests.exists? %>
<%= render :partial => "clients/sample_manifests/manifests/tissue_sheet", :locals => 
															{:samples => @sample_manifest.tissue_sample_manifests}%>
<% end %>
<% if @sample_manifest.cell_sample_manifests.exists? %>														
<%= render :partial => "clients/sample_manifests/manifests/cell_sheet", :locals => 
															{:samples => @sample_manifest.cell_sample_manifests}%>
<% end %>															
														