<% if @sample_manifests.present? %>
<table class="list" id="sample-manifests">
  <tr class="header">
		<th>Manifest ID</th>
    <th>Title</th>
		<th>Verified?</th>
		<th>Shipped?</th>
		<th></th>
		<th></th>
		<th></th>
  </tr>
	
  <% @sample_manifests.each do |sm| %>
    <tr class="<%= cycle('odd', 'even') %>">
  		<td><%= sm.id %></td>
      <td><%= sm.title.present? ? sm.title : 'No Title' %></td>
      <td>
      <% if sm.verified? %> 
      	Yes
      <% else %>
      <%= link_to 'No',  confirm_clients_sample_manifest_path(sm) %>
      <% end %>
      </td>	
      <td><%= sm.shipped ? "Yes" : "No" %></td>
  		<td><%= link_to 'Show Manifest', [ :clients, sm ] %></td>
  		<td><%= link_to 'Edit Manifest', edit_clients_sample_manifest_path(sm) %></td>
  		<td><%= link_to 'Cancel', clients_sample_manifest_path(sm), :confirm => 'Are you sure?', :method => :delete %></tr>
    </tr>
  <% end %>
</table>
<% end %>

<%= link_to 'New Manifest', new_clients_sample_manifest_path, :class => :button %>
