<% content_for :javascript do %>
	<%= javascript_include_tag 'sample_manifest' %>
	<%= javascript_include_tag 'add_remove_children' %>
<% end %>

<h1>Available Tests</h1>
<p class="info">
  <%= image_tag 'info.png', :class => 'info-logo' %>
  Sample preparation and detailed shipping guidelines can be found 
  <%= link_to "here", "/downloads/guidelines_for_all_samples_v1.pdf" %>
</p>
<%= render :partial => 'tests'%>

<h1>Sample Manifest</h1>
<%= render :partial => 'form'%>
