<h1>Sample Manifest</h2>
<% if @sample_manifest.biofluid_sample_manifests.present?%>
<h2>Biofluids Samples</h2>
<table class="list">
	<tr>
		<th>Tube ID</th>
		<th>Barcode</th>
		<th>Species</th>
		<th>Matrix</th>
		<th>Group ID</th>
		<th>Sample Volume</th>
		<th>Test Codes</th>
	</tr>
	<% @sample_manifest.biofluid_sample_manifests.each do |s|%>
	<tr>
		<td><%=s.tube_id%></td>
		<td><%=s.barcode%></td>
		<td><%=s.species%></td>
		<td><%=s.matrix%></td>
		<td><%=s.group_id%></td>
		<td><%=s.sample_volume%></td>
		<td>
			<table>
				<tr><td><%= "MP\#1" if s.module_1%></td>
					<td><%= "MP\#2" if s.module_2%></td>
					<td><%= "MP\#3" if s.module_3%></td>
					<td><%= "MP\#4" if s.module_4%></td>
					<td><%= "MP\#5" if s.module_5%></td>
					<td><%= "GC-FAP" if s.gc_fap%></td>
					<td><%= "SS\#1" if s.ss_1%></td>
					<td><%= "SS\#1" if s.ss_2%></td>
				</tr>
			</table>
		</td>
	</tr>
	<%end%>
	
</table>
<%end%>
<% if @sample_manifest.tissue_sample_manifests.present?%>
<h2>Tissue Samples</h2>
<table class="list">
	<tr>
		<th>Tube ID</th>
		<th>Barcode</th>
		<th>Species</th>
		<th>Matrix</th>
		<th>Group ID</th>
		<th>Tissue Weight</th>
		<th>Test Codes</th>
	</tr>
	<% @sample_manifest.tissue_sample_manifests.each do |s|%>
	<tr>
		<td><%=s.tube_id%></td>
		<td><%=s.barcode%></td>
		<td><%=s.species%></td>
		<td><%=s.matrix%></td>
		<td><%=s.group_id%></td>
		<td><%=s.tissue_weight%></td>
		<td>
			<table>
				<tr><td><%= "MP\#1" if s.module_1%></td>
					<td><%= "MP\#2" if s.module_2%></td>
					<td><%= "MP\#3" if s.module_3%></td>
					<td><%= "MP\#4" if s.module_4%></td>
					<td><%= "MP\#5" if s.module_5%></td>
					<td><%= "GC-FAP" if s.gc_fap%></td>
					<td><%= "SS\#1" if s.ss_1%></td>
					<td><%= "SS\#1" if s.ss_2%></td>
				</tr>
			</table>
		</td>
	</tr>
	<%end%>
	
</table>
<%end%>
<% if @sample_manifest.cell_sample_manifests.present?%>
<h2>Cell Samples</h2>
<table class="list">
	<tr>
		<th>Tube ID</th>
		<th>Barcode</th>
		<th>Cell Line</th>
		<th>Viable Cells</th>
		<th>Group ID</th>
		<th>Test Codes</th>
	</tr>
	<% @sample_manifest.cell_sample_manifests.each do |s|%>
	<tr>
		<td><%=s.tube_id%></td>
		<td><%=s.barcode%></td>
		<td><%=s.cell_line%></td>
		<td><%=s.viable_cells%></td>
		<td><%=s.group_id%></td>
		<td>
			<table>
				<tr><td><%= "MP\#1" if s.module_1%></td>
					<td><%= "MP\#2" if s.module_2%></td>
					<td><%= "MP\#3" if s.module_3%></td>
					<td><%= "MP\#4" if s.module_4%></td>
					<td><%= "MP\#5" if s.module_5%></td>
					<td><%= "GC-FAP" if s.gc_fap%></td>
					<td><%= "SS\#1" if s.ss_1%></td>
					<td><%= "SS\#1" if s.ss_2%></td>
				</tr>
			</table>
		</td>
	</tr>
	<%end%>
	
</table>	
<%end%>
<h2>Estimate</h2>
	<table class="list">
		<tr>
			<th>Total Samples</th>
			<th>Total Tests</th>
			<th>Estimated Cost</th>
		<tr>
		<tr>
			<td><%= @sample_manifest.total_samples %></td>
			<td><%= @sample_manifest.total_tests %></td>
			<td>$<%= @sample_manifest.estimate %></td>
		<tr>
	</table>
