<% confirmable = @sample_manifest.confirmable_manifest? %>
<% if !confirmable && (@sample_manifest.samples? || @sample_manifest.common_data_exists?) %>
	<div id="missing-fields">
		<h2>Fill out the following fields on the spreadsheet to be able to confirm</h2>
		<div id="missing-fields-accordion">
				<% if !@sample_manifest.all_common_fields_present? %>
					<h3>All Sheets</h3>
					<ul>
						<% if @sample_manifest.title.blank?%>
							<li>Title</li>
						<% end %>
						<% if @sample_manifest.client_institution.blank?%>
							<li>Client Institution</li>
						<% end %>
						<% if @sample_manifest.submitter_email.blank?%>
							<li>Submitter Email</li>
						<% end %>
						<% if @sample_manifest.pi_email.blank?%>
							<li>Pi Email</li>
						<% end %>
						<% if @sample_manifest.grant_id.blank? %>
							<li>Grant/Funding</li>
						<% end %>
					</ul>
				<% end %>
				<%= render :partial => "clients/sample_manifests/manifests/all_sheets_missing_fields", :locals => 
																		{:samples => @sample_manifest.tissue_sample_manifests, :type => "tissue"} %>
				<%= render :partial => "clients/sample_manifests/manifests/all_sheets_missing_fields", :locals => 
																		{:samples => @sample_manifest.biofluid_sample_manifests, :type => "biofluid"} %>
				<%= render :partial => "clients/sample_manifests/manifests/all_sheets_missing_fields", :locals => 
																		{:samples => @sample_manifest.cell_sample_manifests, :type => "cell"} %>
		</div>
	</div>
<% end %>


<%= form_tag("#{@sample_manifest.id}/confirm", :method => :post) do %>
	<%= render :partial => "clients/sample_manifests/manifests/common_sheet_data" %>
	<%= render :partial => 'clients/sample_manifests/manifests/manifest_workbook', :locals => {:barcode_description => 	confirmable && 
																														!@sample_manifest.verified } %>
	<%= link_to 'Edit Manifest', edit_clients_sample_manifest_path, :class => :button unless @sample_manifest.verified %>
	<% if confirmable && !@sample_manifest.verified %>
	<%= submit_tag('Confirm Order', :class => :button, :confirm => 'By Confirming this manifest you agree to pay the total estimate. ' + 
																			'Additionally, once comfirmed the manifest cannot be edited anymore.') %>																									
	<% end %>
<% end %>
<% if File.exists?(@sample_manifest.barcodes_path) %>
	<%= link_to 'Barcodes', barcode_pdf_clients_sample_manifest_path, :target => '_blank' %>
<% end %>	