<% if @sample_manifest.biofluid_sample_manifests.exists? %>
  <h1>Biofluid Samples</h1>
  <table class="list">
  	<tr>
  		<th>Tube ID</th>
  		<th>Barcode</th>
  		<th>Species</th>
  		<th>Matrix</th>
  		<th>Group ID</th>
  		<th>Sample Volume</th>
  		<th>Test Codes</th>
  	</tr>
  	<% @sample_manifest.biofluid_sample_manifests.each do |s|%>
    	<tr>
    		<td><%= s.tube_id %></td>
    		<td><%= s.barcode %></td>
    		<td><%= s.species %></td>
    		<td><%= s.matrix %></td>
    		<td><%= s.group_id %></td>
    		<td><%= s.sample_volume %></td>
    		<td><%= SampleManifest.module_codes(s).present? ? SampleManifest.module_codes(s).join(", ") : 'none' %></td>
    	</tr>
    <% end %>
  </table>
<% end %>

<% if @sample_manifest.tissue_sample_manifests.exists? %>
  <h1>Tissue Samples</h1>
  <table class="list">
  	<tr>
  		<th>Tube ID</th>
  		<th>Barcode</th>
  		<th>Species</th>
  		<th>Matrix</th>
  		<th>Group ID</th>
  		<th>Tissue Weight</th>
  		<th>Test Codes</th>
  	</tr>
  	<% @sample_manifest.tissue_sample_manifests.each do |s|%>
    	<tr>
    		<td><%=s.tube_id%></td>
    		<td><%=s.barcode%></td>
    		<td><%=s.species%></td>
    		<td><%=s.matrix%></td>
    		<td><%=s.group_id%></td>
    		<td><%=s.tissue_weight%></td>
    		<td><%= SampleManifest.module_codes(s).present? ? SampleManifest.module_codes(s).join(", ") : 'none' %></td>
    	</tr>
  	<%end%>
  </table>
<% end %>
<% if @sample_manifest.cell_sample_manifests.exists? %>
  <h1>Cell Samples</h1>
  <table class="list">
  	<tr>
  		<th>Tube ID</th>
  		<th>Barcode</th>
  		<th>Cell Line</th>
  		<th>Viable Cells</th>
  		<th>Group ID</th>
  		<th>Test Codes</th>
  	</tr>
  	<% @sample_manifest.cell_sample_manifests.each do |s|%>
    	<tr>
    		<td><%= s.tube_id %></td>
    		<td><%= s.barcode %></td>
    		<td><%= s.cell_line %></td>
    		<td><%= s.viable_cells %></td>
    		<td><%= s.group_id %></td>
    		<td><%= SampleManifest.module_codes(s).present? ? SampleManifest.module_codes(s).join(", ") : 'none' %></td>
    	</tr>
  	<%end%>
  </table>	
<% end %>

<br><br>
<h1>Estimate</h1>
<table class="list">
	<tr>
		<th>Total Samples</th>
		<th>Total Tests</th>
		<th>Estimated Cost</th>
	<tr>
	<tr>
		<td><%= @sample_manifest.total_samples %></td>
		<td><%= @sample_manifest.total_tests %></td>
		<td>$<%= @sample_manifest.estimate %></td>
	<tr>
</table>
<br>

<% if @sample_manifest.stored_files.present? %>
  <br>
  <h1>Reports</h1>
  <table class="list">
    <tr>
      <th>#</th>
      <th>Description</th>
      <th>Download</th>
    <tr>
      <% @sample_manifest.stored_files.each_with_index do |file, count| %>
        <tr>
          <td><%= count + 1 %></td>
          <td>GC/MS Result Summary (Metabolite AUC)</td>
          <td><%= link_to 'Download', file.attachment.url %></td>
        <tr>
      <% end -%>
  </table>
  <br>
<% end -%>

<button id="print_manifest" class="button" data-url="<%=print_clients_sample_manifest_path(@sample_manifest)%>">Print</button><button class="button">Back</button>